@model AtriumWebApp.Models.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Utilization";
}
<script>
    $(document).ready(function () {
        $("a").live('click', function () {
            window.ShowProgress();
        });
    })
</script>

<table id="homeButtonTable">
    <tr>
        <td>
            @if (Model.HasAccessTo("SKC"))
            {
                <a href="~/SkilledCharting/">
                    <p>Skilled Charting</p>
                </a>
            }
        </td>
        <td>
            @if (Model.HasAccessTo("PASRR"))
            {
                <a href="~/PASRR/">
                    <p>Pre-Admission Screening Resident Review</p>
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            @if (Model.HasAccessTo("PELI"))
            {
                <a href="~/PELI/">
                    <p>PELI</p>
                </a>
            }
        </td>
    </tr>
</table>