@model AtriumWebApp.Web.RiskManagement.Models.WorkersCompVOCRehab

@if (Model.VOCRehabID == 0)
{
    Model.DataEntryFlg = true;

}

<form asp-action="SaveNewVOCRehab" asp-controller="RMWorkerCompAdmin">
    <input asp-for="VOCRehabName" placeholder="VOC Rehab Name" />
    <span asp-validation-for="VOCRehabName" class="text-danger"></span>
    <input asp-for="DataEntryFlg" hidden="hidden" />
    <input type="submit" value="Add" />
</form>