@model AtriumWebApp.Web.RiskManagement.Models.WorkersCompInsurance

@if (Model.InsuranceId == 0)
{
    Model.DataEntryFlg = true;

}

<form asp-action="SaveNewInsurance" asp-controller="RMWorkerCompAdmin">
    <input asp-for="InsuranceNm" placeholder="Insurance Name" />
    <span asp-validation-for="InsuranceNm" class="text-danger"></span>
    <input asp-for="DataEntryFlg" hidden="hidden" />
    <input type="submit" value="Add" />
</form>