<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UseMsDeployExe>true</UseMsDeployExe>
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework>net452</PublishFramework>
    <ProjectGuid>86c8ed1f-0851-4e16-8b47-2d0d7ebccadc</ProjectGuid>
    <MSDeployServiceURL>deadpool</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/CEA_TST/Financial</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ALC\Cardinal</UserName>
    <Password>Atrium1016!</Password>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AtriumWebApp.Models.ContractManagementContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Models.ContractManagementContext, AtriumWebApp.Web.Financial" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtriumWebApp.Web.Financial.Models.AdditionalDevelopmentRequestContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Web.Financial.Models.AdditionalDevelopmentRequestContext, AtriumWebApp.Web.Financial" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtriumWebApp.Web.Financial.Models.PurchaseOrderContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Web.Financial.Models.PurchaseOrderContext, AtriumWebApp.Web.Financial" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtriumWebApp.Web.Financial.Models.WriteOffContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Web.Financial.Models.WriteOffContext, AtriumWebApp.Web.Financial" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtriumWebApp.Models.ASAPComplaintTypeContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Models.ASAPComplaintTypeContext, AtriumWebApp.Models" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtriumWebApp.Models.HospitalDischargeContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Models.HospitalDischargeContext, AtriumWebApp.Models" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtriumWebApp.Models.SharedContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Models.SharedContext, AtriumWebApp.Models" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtriumWebApp.Models.SOCContext" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Models.SOCContext, AtriumWebApp.Models" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <TargetFramework>net452</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Models.ASAPComplaintTypeContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Models.ContractManagementContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Models.HospitalDischargeContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Models.SharedContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Models.SOCContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Web.Financial.Models.AdditionalDevelopmentRequestContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Web.Financial.Models.PurchaseOrderContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Web.Financial.Models.WriteOffContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AtriumWebApp.Models.ASAPComplaintTypeContext" />
    <_ConnectionStringsToInsert Include="AtriumWebApp.Models.ContractManagementContext" />
    <_ConnectionStringsToInsert Include="AtriumWebApp.Models.HospitalDischargeContext" />
    <_ConnectionStringsToInsert Include="AtriumWebApp.Models.SharedContext" />
    <_ConnectionStringsToInsert Include="AtriumWebApp.Models.SOCContext" />
    <_ConnectionStringsToInsert Include="AtriumWebApp.Web.Financial.Models.AdditionalDevelopmentRequestContext" />
    <_ConnectionStringsToInsert Include="AtriumWebApp.Web.Financial.Models.PurchaseOrderContext" />
    <_ConnectionStringsToInsert Include="AtriumWebApp.Web.Financial.Models.WriteOffContext" />
  </ItemGroup>
</Project>