@model AtriumWebApp.Models.ViewModel.SideBarViewModel
@{
    ViewBag.Title = "Medical Records Request";
}

<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<div id="title-div">
    <h2 id="title" style="margin-left: 180px">Medical Records Request</h2>
</div>
<div id="content">
    <div class="container">
        <div class="row">
            <div id="sideBar" class="col-sm-2">
                @Html.EditorFor(m => m)
            </div>
            <div class="col-sm-10" style="padding-left:50px;">
                <div class="row">
                    <span class="instruction">Select a resident to continue...</span>
                </div>
                <div id="editForm">
                </div>
                <div class="row">
                    <div class="col-sm-6" id="recordList">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery-form/dist/jquery.form.min.js"></script>

<environment names="Development">
    <script src="~/js/MedicalRecords.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/MedicalRecords.min.js" asp-append-version="true"></script>
</environment>
