@model AtriumWebApp.Web.Financial.Models.PurchaseOrderAssetClass

<form asp-action="CreateAssetClass" asp-controller="PurchaseOrderAdmin" >
    <input asp-for="Name" placeholder="New Asset Class" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <input type="submit" value="Add" id="newAssetClass" />
</form>