@model AtriumWebApp.Web.Schedule.Models.ViewModel.ScheduleAdminAreaRoomsViewModel
@{
    ViewBag.Title = "ScheduleAdminAreaRoomsViewModel";
}
<div id="areaRoomsModal" align="center">
    <table id="RoomArea">
        <thead>
            <tr>
                <th>Room/Area Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="RoomAreas">
            @foreach (var item in Model.AreaRooms)
            {
                <tr id="@item.Id">
                    <td>@item.AtriumPatientGroupName</td>
                    <td><a class="editAreaRoom" href="">Edit</a></td>
                    <td><a class="deleteAreaRoom" href="">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    @using (Html.BeginForm("AddRoomArea", "ScheduleAdmin", FormMethod.Post, new { id = "AddRoomArea", enctype = "multipart/form-data" }))
    {
        <div>
            @Html.Label("New Hall/Unit: ")
            @Html.TextBox("NewRoomArea")
            <input type="submit" value="Save" />
        </div>
    }
</div>

<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Scripts/autogrow.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.form.min.js"></script>
@*<script type="text/javascript" src="~/Scripts/ScheduleAdmin.js"></script>
<script type="text/javascript" src="~/Scripts/ScheduleAreaRoomAdmin.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        PrepareAreaRoomPage();
    });
    //if ($('#RoomAreas').children().length > 0) {
    //    ScheduleAdmin.setupLookupAdminTable('#RoomArea', "../ScheduleAdmin/EditRoomArea", "../ScheduleAdmin/DeleteRoomArea");
    //};
</script>*@