/*
    Decision to use SASS (not LESS) for CSS generation.
    Using Web Essentials version 4 for VS2013 which compiles the .scss > .css    
    http://stackoverflow.com/questions/20727102/how-to-use-sass-in-visual-studio-2013

*/
/*$col_SHIFT: 58px; //63px;*/
/*$col_PLUS_AND_SHIFT_MAX_WIDTH: 240px;*/
/*36px;*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.highlight {
  background-color: #f3F315;
}

.redText {
  -moz-text-decoration-color: red;
  text-decoration-color: red;
  color: red;
}

/*override site.css*/

.rotate {
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: left top;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(-90deg);
  -o-transform-origin: left top;
  transform: rotate(-90deg);
  transform-origin: left top;
  position: absolute;
  top: 152px;
  left: 20px;
  white-space: nowrap;
  max-height: 15px;
  min-width: 35px;
  width: 35px;
  vertical-align: bottom !important;
  /*text-orientation:sideways-left;*/
}

.schedule-home-link {
  font-size: 18px;
  float: left !important;
  color: darkblue !important;
  font-weight: bolder;
  margin-left: 10px;
  vertical-align: central;
}

.title-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.slotTable {
  margin-top: auto;
  max-width: 1150px !important;
}

#WorkShiftId.center.outSR {
  max-width: 15px !important;
}

/*.thRowHeader {
    min-height: 35px !important;
}*/
.chosen-container.chosen-container-multi {
  min-width: 225px;
  font-size: 1em;
  font-weight: 800;
}

.ui-dialog {
  /*visible - if inside div to scroll*/
  overflow: visible, scroll !important;
  /*initial - if inside modal*/
  overflow-x: visible, scroll !important;
  overflow-y: visible, scroll !important;
}

#CurrentCommunity {
  max-width: 125px !important;
}

hr#communityHr {
  margin-left: 15px;
  margin-right: 0;
  width: 1300px;
}

.scheduleSummaryScrollDIV,
.columnSummaryScrollDIV {
  border-collapse: collapse;
  border-spacing: 0,0;
  display: inline-block;
  /*border-collapse: collapse;*/
  min-height: 85px !important;
  max-height: 105px !important;
  overflow-y: scroll !important;
  overflow-wrap: normal;
  overflow-x: hidden;
  min-width: 305px !important;
  width: 305px !important;
  float: right;
}

.scheduleSummaryScrollDIV .EmployeeTotalHoursDIV,
.columnSummaryScrollDIV .EmployeeTotalHoursDIV {
  max-width: 225px !important;
  width: 225px !important;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
  padding-right: 20px !important;
  margin-right: 20px !important;
}

#summaryTopTableDIV {
  width: 1260px;
}

div#tabs, .ui-tabs, .ui-tabs-panel, .content-wrapper.main-content {
  display: block;
  /*width: auto;
    height: auto;
    min-width: 750px;
    min-height: 420px;*/
  padding-bottom: 0.1em !important;
  padding-top: 0 !important;
  border-top: 0 !important;
  margin-top: 0 !important;
}

div#tabs hr, .ui-tabs hr, .ui-tabs-panel hr, .content-wrapper.main-content hr {
  margin-bottom: 0;
}

div.ui-tabs-panel, .ui-tabs-nav {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}

table#coreTable {
  margin-top: 0;
}

table#coreTable #summaryTitle {
  margin-bottom: 10px;
}

table#coreTable tbody {
  vertical-align: top;
}

.scheduleDIV {
  display: inline-block;
  /*border-collapse: collapse;*/
  width: 1260px;
  min-height: 245px !important;
  max-height: 285px;
  /*!important;*/
  overflow-y: auto;
}

.slotTd {
  width: 925px !important;
  min-width: 925px !important;
  max-width: 925px !important;
  /*Accomidate for Plus Sign and Selected Nurses*/
  /*padding-top: 1.67em !important;*/
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  border: 0,0,0,0 !important;
  /*to highlight every other row uncomment this*/
  /*===========================================*/
  /*table.slotTable:nth-of-type(odd) {
        background-color: $ROW_COLOR_ODD;
        input[type=button], .ddFormatHours, .ddFormatHoursTemplate, .ddFormatGroups {
            font-weight: 900;
            background-color: $ROW_COLOR_ODD;
        }
        [id$=EmployeeId_chosen] {
            background-color: $ROW_COLOR_ODD;
            a.chosen-single {
                font-weight: 900;
                flood-color: $ROW_COLOR_ODD;
            }
        } 
    }
    table.slotTable:nth-of-type(even) {
        background-color:  $ROW_COLOR_EVEN;
        input[type=button], .ddFormatHours, .ddFormatHoursTemplate, .ddFormatGroups {
            font-weight: 900;
            background-color: $ROW_COLOR_EVEN;
        }
        [id$=EmployeeId_chosen] {
            a.chosen-single {
                font-weight: 900;
                flood-color: $ROW_COLOR_EVEN;
            }
        }
    }*/
}

.slotTd table, .slotTd tr, .slotTd td, .slotTd th {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  border: 0,0,0,0 !important;
}

.slotEmpNm {
  font-weight: 900;
  margin-left: .5em;
  font-family: Courier New, Courier, monospace;
  font-size: 1.2em;
  line-height: 1.5em;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444444;
  border-spacing: 0,0;
  border-collapse: collapse;
  cursor: pointer;
}

.chosen-container[id$=EmployeeId_chosen] {
  width: 237px !important;
  min-width: 237px !important;
  font-family: 'Courier New' !important;
  font-weight: 800;
  font-size: 1em;
}

.selectEmployeeTitle {
  height: 1.67em !important;
  min-height: 1.67em !important;
  /*padding-right: 0.5em;*/
  max-width: 225px !important;
  min-width: 225px !important;
}

.colSummary {
  margin: 0, 30px, 0, 0 !important;
  text-align: center !important;
  font-size: 0.9em !important;
}

.slotTableSummary {
  width: 925px !important;
  max-width: 925px !important;
  min-width: 925px !important;
  /*display: inline-block;*/
  table-layout: fixed !important;
  border-collapse: separate !important;
}

.slotTableSummary td {
  border-collapse: separate !important;
}

/*Minus Sign col WIDTH*/
.removeSlotRowTd {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  width: 47px !important;
  min-width: 47px !important;
  max-width: 47px !important;
}

.day {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  width: 65px !important;
  max-width: 65px !important;
  font-size: 0.9em !important;
}

.dayLG {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  width: 72px !important;
  max-width: 72px !important;
}

.dayLG .dayDisplay select, .dayLG .dayDisplay input {
  font-size: 1em !important;
}

.slotTd.outSR#slotTd {
  min-height: 52px !important;
  height: 52px !important;
}

/*td.outSR, th.outSR {
    width: ($col_COLUMN_TOTAL) !important;
    max-width: ($col_COLUMN_TOTAL) !important; 
}*/
.schedule_inner {
  table-layout: fixed;
}

.schedule_inner td {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  font-size: 0.9em !important;
}

.schedule_inner td:nth-child(1), .schedule_inner th:nth-child(1) {
  max-width: 47px;
  min-width: 47px !important;
  width: 47px !important;
}

.schedule_inner td:nth-child(2), .schedule_inner th:nth-child(2) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(2), .schedule_inner th.sum:nth-child(2) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(3), .schedule_inner th:nth-child(3) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(3), .schedule_inner th.sum:nth-child(3) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(4), .schedule_inner th:nth-child(4) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(4), .schedule_inner th.sum:nth-child(4) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(5), .schedule_inner th:nth-child(5) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(5), .schedule_inner th.sum:nth-child(5) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(6), .schedule_inner th:nth-child(6) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(6), .schedule_inner th.sum:nth-child(6) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(7), .schedule_inner th:nth-child(7) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(7), .schedule_inner th.sum:nth-child(7) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(8), .schedule_inner th:nth-child(8) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(8), .schedule_inner th.sum:nth-child(8) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(9), .schedule_inner th:nth-child(9) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(9), .schedule_inner th.sum:nth-child(9) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(10), .schedule_inner th:nth-child(10) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(10), .schedule_inner th.sum:nth-child(10) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(11), .schedule_inner th:nth-child(11) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(11), .schedule_inner th.sum:nth-child(11) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(12), .schedule_inner th:nth-child(12) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(12), .schedule_inner th.sum:nth-child(12) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(13), .schedule_inner th:nth-child(13) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(13), .schedule_inner th.sum:nth-child(13) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(14), .schedule_inner th:nth-child(14) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(14), .schedule_inner th.sum:nth-child(14) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(15), .schedule_inner th:nth-child(15) {
  width: 60.5px !important;
  min-width: 60.5px !important;
  max-width: 62px !important;
}

.schedule_inner td.sum:nth-child(15), .schedule_inner th.sum:nth-child(15) {
  width: 61.5px !important;
  min-width: 61.5px !important;
  max-width: 62px !important;
}

.schedule_inner td:nth-child(16), .schedule_inner th:nth-child(16) {
  width: 68px !important;
  max-width: 68px !important;
}

.schedule_inner td.sum:nth-child(16), .schedule_inner th.sum:nth-child(16) {
  width: 68px !important;
  max-width: 68px !important;
}

.schedule_edit {
  table-layout: fixed;
}

.schedule_edit td {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  font-size: 0.9em !important;
}

.schedule_edit td:nth-child(1), .schedule_edit th:nth-child(1) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(2), .schedule_edit th:nth-child(2) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(3), .schedule_edit th:nth-child(3) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(4), .schedule_edit th:nth-child(4) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(5), .schedule_edit th:nth-child(5) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(6), .schedule_edit th:nth-child(6) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(7), .schedule_edit th:nth-child(7) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(8), .schedule_edit th:nth-child(8) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(9), .schedule_edit th:nth-child(9) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(10), .schedule_edit th:nth-child(10) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(11), .schedule_edit th:nth-child(11) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(12), .schedule_edit th:nth-child(12) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(13), .schedule_edit th:nth-child(13) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit td:nth-child(14), .schedule_edit th:nth-child(14) {
  min-width: 71px !important;
  max-width: 71px !important;
}

.schedule_edit.schedule_edit_LG {
  table-layout: fixed;
}

.schedule_edit.schedule_edit_LG td {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  font-size: 1em !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(1), .schedule_edit.schedule_edit_LG th:nth-child(1) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(2), .schedule_edit.schedule_edit_LG th:nth-child(2) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(3), .schedule_edit.schedule_edit_LG th:nth-child(3) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(4), .schedule_edit.schedule_edit_LG th:nth-child(4) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(5), .schedule_edit.schedule_edit_LG th:nth-child(5) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(6), .schedule_edit.schedule_edit_LG th:nth-child(6) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(7), .schedule_edit.schedule_edit_LG th:nth-child(7) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(8), .schedule_edit.schedule_edit_LG th:nth-child(8) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(9), .schedule_edit.schedule_edit_LG th:nth-child(9) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(10), .schedule_edit.schedule_edit_LG th:nth-child(10) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(11), .schedule_edit.schedule_edit_LG th:nth-child(11) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(12), .schedule_edit.schedule_edit_LG th:nth-child(12) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(13), .schedule_edit.schedule_edit_LG th:nth-child(13) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.schedule_edit.schedule_edit_LG td:nth-child(14), .schedule_edit.schedule_edit_LG th:nth-child(14) {
  min-width: 72px !important;
  max-width: 72px !important;
}

.shiftSlotRowSummary {
  min-height: 12px;
  height: 12px;
}

.shiftSlotRowSummary,
.shiftSlotRow {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  /* 
        Account for hidden field WorkShiftId;
        id similar to Schedules_RN__Shifts_0__WorkShiftId
    */
}

.shiftSlotRowSummary td.outSR:nth-child(1),
.shiftSlotRow td.outSR:nth-child(1) {
  width: 15px;
  min-width: 15px;
}

.shiftSlotRowSummary td[id^=Shift_Add_],
.shiftSlotRow td[id^=Shift_Add_] {
  min-width: 225px !important;
  max-width: 225px !important;
}

.shiftSlotRowSummary th.outSR:nth-child(1),
.shiftSlotRow th.outSR:nth-child(1) {
  width: 0px;
}

.shiftSlotRowSummary td.outSR:nth-child(2),
.shiftSlotRowSummary th.outSR:nth-child(2),
.shiftSlotRow td.outSR:nth-child(2), .shiftSlotRow th.outSR:nth-child(2) {
  min-width: 15px !important;
}

.shiftSlotRowSummary td.outSR:nth-child(3),
.shiftSlotRowSummary th.outSR:nth-child(3),
.shiftSlotRow td.outSR:nth-child(3), .shiftSlotRow th.outSR:nth-child(3) {
  width: 225px !important;
}

.shiftSlotRowSummary td.outSR:nth-child(4),
.shiftSlotRow td.outSR:nth-child(4) {
  width: 68px !important;
}

.shiftSlotRowSummary th.outSR:nth-child(4),
.shiftSlotRow th.outSR:nth-child(4) {
  width: 925px !important;
  max-width: 925px !important;
}

.shiftSlotRowSummary td.outSR:nth-child(5),
.shiftSlotRowSummary th.outSR:nth-child(5),
.shiftSlotRow td.outSR:nth-child(5), .shiftSlotRow th.outSR:nth-child(5) {
  width: 68px !important;
}

#scheduleTableDIV, .ui-tabs-panel {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  border: 0,0,0,0 !important;
}

.schedule_outer tbody,
.schedule_outer thead {
  table-layout: fixed;
  width: 1280px;
  height: 25px;
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
}

.schedule_outer tbody .thRowHeader,
.schedule_outer thead .thRowHeader {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
}

.schedule_outer tbody th.outer,
.schedule_outer tbody td.outer,
.schedule_outer thead th.outer, .schedule_outer thead td.outer {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
}

.schedule_outer tbody td.outer:nth-child(1),
.schedule_outer tbody th.outer:nth-child(1),
.schedule_outer thead td.outer:nth-child(1), .schedule_outer thead th.outer:nth-child(1) {
  width: 15px !important;
}

.schedule_outer tbody th.outer:nth-child(2),
.schedule_outer thead th.outer:nth-child(2) {
  max-width: 225px !important;
  min-width: 223px !important;
  width: 223px !important;
}

.schedule_outer tbody td.outer:nth-child(2),
.schedule_outer thead td.outer:nth-child(2) {
  width: 240px !important;
  min-width: 240px !important;
}

.schedule_outer tbody td.outer:nth-child(3),
.schedule_outer tbody th.outer:nth-child(3),
.schedule_outer thead td.outer:nth-child(3), .schedule_outer thead th.outer:nth-child(3) {
  width: 925px !important;
  max-width: 925px !important;
}

.schedule_outer tbody td.outer:nth-child(4),
.schedule_outer tbody th.outer:nth-child(4),
.schedule_outer thead td.outer:nth-child(4), .schedule_outer thead th.outer:nth-child(4) {
  width: 68px !important;
}

.tableColumnHeaders thead {
  width: 925px !important;
  max-width: 925px !important;
}

.schedule_outer tfoot {
  table-layout: fixed;
  width: 1280px;
  height: 25px;
  border: 1px solid green;
  border-collapse: separate;
}

.schedule_outer tfoot td.outer {
  width: 925px !important;
  max-width: 925px !important;
}

.schedule_outer tfoot td.outer:nth-child(1), .schedule_outer tfoot th.outer:nth-child(1) {
  width: 242px !important;
}

.schedule_outer tfoot td.outer:nth-child(2), .schedule_outer tfoot th.outer:nth-child(2) {
  width: 925px !important;
}

.schedule_outer tfoot td.outer:nth-child(3), .schedule_outer tfoot th.outer:nth-child(3) {
  width: 68px !important;
}

.schedule, .schedule_inner, .schedule_outer, .schedule_edit {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  display: inline;
  border-collapse: collapse;
}

.schedule th, .schedule td, .schedule_inner th, .schedule_inner td, .schedule_outer th, .schedule_outer td, .schedule_edit th, .schedule_edit td {
  padding: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  border: 1px solid green;
  vertical-align: top;
}

.schedule th, .schedule_inner th, .schedule_outer th, .schedule_edit th {
  text-align: center;
}

/*
    Attempt to OVERRIDE Site.css padding ..
*/
td {
  padding: 0 0 0 0 !important;
  /*border: 1px solid green;*/
}

.ddFormat {
  font-family: 'Courier New' !important;
  font-weight: bold;
  width: auto;
  /*
        Theory: This allows jquery :visible to work, otherwise always false
        http://stackoverflow.com/questions/8337186/jquery-isvisible-not-working-in-chrome
    */
}

.ddFormat option {
  display: inline-block !important;
}

.ddFormatEmp {
  max-width: 60px;
  padding: 0,0,0,0;
  margin: 0,0,0,0;
}

.ddFormatHours {
  font-family: 'Courier New' !important;
  font-weight: bold;
  min-width: 60px;
  max-width: 60px;
  padding-right: 0;
  margin-right: 0;
}

.ddFormatHours option {
  display: inline-block !important;
}

.ddFormatHoursLG {
  font-family: 'Courier New' !important;
  font-weight: bold;
  min-width: 72px;
  max-width: 72px;
  padding-right: 0;
  margin-right: 0;
  /*option {
        display: inline-block !important;
    }*/
}

.formatDayInfoLG {
  font-family: 'Courier New' !important;
  font-weight: bold;
  width: 70px;
  padding: 0, 0, 0, 0;
  margin: 0, 0, 0, 0;
  /*border: 1px, 1px, 1px, 1px !important;*/
  border-top-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-left-width: 1px !important;
  border-collapse: collapse;
  text-align: right;
  float: left;
  /*text-overflow: ellipsis;*/
}

.formatDayInfoLG option {
  display: inline-block !important;
}

.formatDayInfo {
  font-family: 'Courier New' !important;
  font-weight: bold;
  /*min-width: $col_DAY_MINUS_BORDERS;
    max-width: $col_DAY_MINUS_BORDERS;*/
  width: 58px;
  padding: 0, 0, 0, 0;
  margin: 0, 0, 0, 0;
  /*border: 1px, 1px, 1px, 1px !important;*/
  border-top-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-left-width: 1px !important;
  border-collapse: collapse;
  text-align: right;
  float: left;
  /*text-overflow: ellipsis;*/
}

.formatDayInfo option {
  display: inline-block !important;
}

select.ddFormatHours, select.ddFormatHoursTemplate {
  direction: rtl;
}

.slotTable tbody tr td .ddFormatHoursTemplate {
  /*with table-layout: fixed then width must be 100% to auto fill*/
  width: 100%;
}

.slotTable tbody tr td .ddFormatHoursTemplate option {
  display: inline-block !important;
}

.ddFormatGroups {
  min-width: 60px;
  max-width: 60px;
  padding-left: 0;
  margin-left: 0;
}

.ddFormatGroupsLG {
  min-width: 72px;
  max-width: 72px;
  padding-left: 0;
  margin-left: 0;
}

/*
    Summary Section
*/
/*.Summary ul {
    border: 1px solid #ccc;
    padding: 5px;
    -moz-column-count: 1;
    -moz-column-gap: 20px;
    -moz-column-rule-width: 1px;
    -moz-column-rule-style: outset;
    -moz-column-rule-color: #ccc;
    -webkit-column-count: 1;
    -webkit-column-gap: 20px;
    -webkit-column-rule-width: 1px;
    -webkit-column-rule-style: outset;
    -webkit-column-rule-color: #ccc;
    column-count: 1;
    column-gap: 20px;
    column-rule-width: 1px;
    column-rule-style: outset;
    column-rule-color: #ccc;
}
.Summary li {
    overflow: hidden;
    min-width: 225px;
}*/
.chosen-drop {
  overflow: visible;
  display: block;
  width: 108% !important;
}

td.coreColumn {
  vertical-align: top;
  min-height: 100px !important;
  min-width: 325px;
  display: normal;
}

.alignDiv {
  position: relative;
  height: 100%;
}

.bottomDiv {
  bottom: 0;
  position: absolute;
}

.bottom {
  vertical-align: bottom;
}

table#summaryTable {
  min-width: 95% !important;
}

table#tblSummary, table#tblSummaryAll {
  width: 85%;
  max-width: 85% !important;
}

.middle {
  vertical-align: middle;
}

.top {
  padding: 1px;
  margin: 1px;
  vertical-align: top !important;
}

.NotSaved {
  padding: 1px;
  margin: 1px;
  border: 2px solid red !important;
  vertical-align: top;
}

.shift_total_hours {
  font-size: 0.9em;
  font-weight: bold;
}

#scheduleTableFooter tfoot tr td.outer,
table.schedule_inner,
.tblColumnTotals thead {
  vertical-align: middle !important;
}

#scheduleTableHeader {
  max-height: 30px !important;
  height: 30px !important;
}

#scheduleTableDIV, #scheduleTableHeader, .schedule, .thRowHeader {
  padding: 0,0,0,0, !important;
  margin: 0,0,0,0, !important;
  border: 0,0,0,0, !important;
  border-collapse: collapse;
  border-spacing: 0,0;
  display: inline-block;
}

/*leave th.outer:nth-child(1) alone; rotated "Shift" text makes height and width switched */
/*#scheduleTableHeader, #scheduleTableDIV, .ui-tabs-panel, .schedule {
    padding: 0,0,0,0,!important;
    margin: 0,0,0,0, !important;
    border: 0,0,0,0, !important;
    border-collapse: collapse;
    border-spacing: 0,0;
    display: inline-block;

    max-height: $MAIN_HEADER_MIN_HEIGHT !important;
    height: $MAIN_HEADER_MIN_HEIGHT;
    min-height: $MAIN_HEADER_MIN_HEIGHT;
    thead {
        height: $MAIN_HEADER_MIN_HEIGHT;
        min-height: $MAIN_HEADER_MIN_HEIGHT;

        tr.thRowHeader {
            height: $MAIN_HEADER_MIN_HEIGHT;
            min-height: $MAIN_HEADER_MIN_HEIGHT;
            th.outer:nth-child(2), th.outer:nth-child(3), th.outer:nth-child(4) {
                height: $MAIN_HEADER_MIN_HEIGHT;
                min-height: $MAIN_HEADER_MIN_HEIGHT;
            }
        }
    }
}*/
#scheduleTableBody tbody tr.shiftSlotRow {
  height: 52px;
  min-height: 52px;
}

li.search-choice {
  height: 26.5px;
  min-height: 26.5px;
}

/*text Open Shift - Notify Shift*/
#TextOpenShiftModal {
  width: 650px;
  height: 560px;
  display: none;
  position: fixed;
  background-color: #EFEEEF;
  z-index: 999;
  border: 2px double black;
}

.modal {
  overflow: hidden;
}

.modal-dialog {
  margin-right: 0;
  margin-left: 0;
}

#SlotEdit {
  width: 945px;
  height: 325px !important;
  display: none;
  position: fixed;
  background-color: #EFEEEF;
  z-index: 999;
  border: 2px double black;
  cursor: move;
}

.draggable {
  border-color: steelblue;
  border-style: dashed;
}

.hidden, .hide {
  /*position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;*/
  display: none;
}

#TextOpenShiftModal td, #SlotEdit td {
  text-align: left;
  margin-left: 15px;
  cursor: move;
}

.paddingLeftRight {
  padding-left: 15px;
  padding-right: 15px;
}

.marginLeft {
  margin-left: 15px;
}

.marginRight {
  margin-right: 15px;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.rightAndPadded {
  float: right !important;
  padding-right: 18px !important;
}

.center {
  float: none;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
}

.rightTotalPad {
  float: right !important;
  padding-right: 5px !important;
}

.leftTotalPad {
  float: left !important;
  padding-left: 5px !important;
}

.noBorderMarginPadding {
  border: 0,0,0,0 !important;
  margin: 0,0,0,0 !important;
  padding: 0,0,0,0 !important;
}

.tabCensusPPD {
  /*display: inline-block;*/
  min-width: 955px;
  width: 955px;
  table-layout: fixed !important;
}

.tabCensusPPD tbody tr, .tabCensusPPD tbody td {
  vertical-align: middle;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
}

.tabCensusPPD tbody td.budgetTotal {
  min-width: 285px !important;
  width: 285px !important;
}

.tabCensusPPD tbody td:nth-child(1) {
  padding: 0, 12px, 0, 25px !important;
}

/* Area/Room - a.k.a Hall/Unit - modal */
/*table#RoomArea,*/
/*tbody#RoomAreas,*/
div#RoomArea_wrapper,
#dataTables_scrollBody,
#dataTables_scroll {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 95%;
}

div#areaRoomsModal {
  background-color: #EFEEEF;
  border: 2px double black;
}

input#ExistingPayPeriod {
  width: 85px;
  max-width: 85px;
}

div#copyPreviousPayPeriodModal {
  width: 467px !important;
  height: 100px !important;
  max-width: 460px !important;
  min-height: 100px !important;
  position: absolute;
  background-color: #EFEEEF;
  z-index: 999;
  border: 2px double black;
  display: block;
}

div#copyPreviousPayPeriodModal table#tableCopyPreviousPayPeriodModal {
  width: 435px !important;
  max-width: 435px !important;
  table-layout: fixed !important;
  vertical-align: middle !important;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  align-self: center !important;
  border-top: 2px double black;
  /*width: 490px !important;
        height: 80px !important;
        max-width: 490px !important;
        max-height: 90px !important;*/
  position: fixed;
  background-color: #EFEEEF;
  z-index: 999;
  /*border: 2px double black;*/
  display: block;
  margin: 5px, 5px, 5px, 5px !important;
  padding: 5px, 5px, 5px, 5px !important;
  /*border: 5px, 5px, 5px, 5px !important;*/
}

div#copyPreviousPayPeriodModal table#tableCopyPreviousPayPeriodModal tr, div#copyPreviousPayPeriodModal table#tableCopyPreviousPayPeriodModal th, div#copyPreviousPayPeriodModal table#tableCopyPreviousPayPeriodModal td {
  margin: 5px, 5px, 5px, 5px !important;
  padding: 5px, 5px, 5px, 5px !important;
  /*border: 5px, 5px, 5px, 5px !important;*/
}

div#TextOpenShiftEmployeeTable_wrapper,
div#TextOpenShiftJobTypeTable_wrapper, hr {
  margin-left: 5px;
  margin-right: 5px;
}

#Message {
  height: 4.8em;
  width: 350px;
  min-width: 350px;
  margin-bottom: 10px;
}

#btnTextOpenShift {
  margin-right: 5px;
}

.noPadding {
  padding: 0,0,0,0 !important;
}

/*.ui-dialog .ui-dialog-titlebars*/
div.NullEmpDiv, .ui-dialog-content {
  overflow-y: visible;
  background-color: lightgray;
  border: 5px solid black;
  height: 300px;
  width: 550px;
  /*Initial State*/
  display: none;
}

.sessionTimeoutDiv {
  margin-left: 0;
  padding-top: 5px;
}

.marginLeftFive {
  margin-left: 5px;
}

.dissapearText {
  text-align: end;
}

/*
    REFACTORED FROM SCHEDULE / INDEX.CSHTML INLINE
*/
.ItemDescription {
  resize: none;
}

.delete-item,
.delete-item-new {
  padding: 0 5px;
}

input[readonly], textarea[readonly] {
  background-color: lightgray;
}

select.input-validation-error {
  border: 1px solid red;
}

textarea.input-validation-error {
  border: 1px solid red;
}

#purchaseItems th {
  padding-right: 10px;
}

textarea {
  width: 100%;
}

.vendorModal {
  width: 700px;
  display: none;
  position: fixed;
  background-color: #EFEEEF;
  z-index: 999;
}

.note {
  padding-top: 6px;
  margin-bottom: 6px;
  border-top: 1px solid #949494;
  border-bottom: 1px solid #949494;
}

Table.dataTable td {
  padding: 3px 18px 3px 10px;
}

/*cellPadding {
    padding: 3px 18px 3px 10px;
}*/
span.EmployeeAndHours, .EmployeeAndHours, .columns {
  display: inline;
  vertical-align: top;
}

/*text-align: end;
        text-align-last: right;*/
.fileSelection {
  width: 600px;
}

#formContent {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.warnHours {
  color: red;
}

/* Used for the jquery tabs */
body {
  background-color: #eef;
}

.forcedWidth {
  display: block;
  width: auto;
  min-width: 1280px;
}

.zeroThis {
  opacity: 0.02;
  /* not FULLY transparent */
  filter: alpha(opacity=0);
  /* IE8 and lower */
  -ms-zoom: 1;
  zoom: 1;
  /* Triggers "hasLayout" in IE 7 and lower */
}

/*#summaryTopTableDIV {
    min-width: 250px;
}*/
form {
  display: inline;
}

.censusRoww td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/*# sourceMappingURL=Schedule.css.map */