@model AtriumWebApp.Web.HR.Models.ViewModel.EmployeeInfoViewModel


<div class="row">
    <label>Current Employee</label>
</div>
<div class="row">
    <label asp-for="EmployeeName"></label>
    <br />
    @Model.EmployeeName
    <br />
    @Model.CommunityName
</div>
<div class="row">
    <label asp-for="HireDate">
    </label>
    <br />
    @Model.HireDate.ToString("d")
</div>
<div class="row">
    <label asp-for="TerminationDate"></label>
    <br />
    @(Model.TerminationDate.HasValue ? Model.TerminationDate.Value.ToString("d") : "")
</div>