@model AtriumWebApp.Web.Financial.Models.ViewModel.PurchaseOrderAdminViewModel
@{
    ViewBag.Title = "Purchase Order Vendor Admin Page";
}

<style type="text/css">
    .content-wrapper {
        max-width: 1366px;
    }
    /*#admin-body {
        max-width: 1000px;
    }*/

    .dataTables_scrollHeadInner, .dataTable {
        width: 100% !important;
    }
</style>
<h2 style="padding-bottom: 15px;">@ViewBag.Title</h2>
<div id="admin-body" class="float-left">
    
    
</div>

<environment names="Development">
    <script src="~/js/Vendors.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/Vendors.min.js" asp-append-version="true"></script>
</environment>
