<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
	<connectionStrings>
		<add name="BudgetMasterIntactEntities" connectionString="metadata=res://*/Budget.csdl|res://*/Budget.ssdl|res://*/Budget.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRONMAN,22866;initial catalog=BudgetMasterIntact;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
