@using AtriumWebApp.Web.Base.Library
@using AtriumWebApp.Models;
<section id="workersCompSideBar">
    @using (Html.BeginForm("SideDDL", "AdditionalDevelopmentRequest", FormMethod.Post, new { id = "SideDDL" }))
    {
        IList<Community> asapFacilityList;
        Context.Session.TryGetObject("ADRFacilityList", out asapFacilityList);
        @Html.Label("Community:")<br />
        @Html.DropDownList("Communities", asapFacilityList as SelectList, new { id = "Communities" })
        @Html.Hidden("returnUrl", Context.UrlPath());
    }
    @{
        int currentFacility;
        Context.Session.TryGetObject("ADRCurrentFacility", out currentFacility);
    }
    @Html.Hidden("CurrentCommunity", currentFacility, new { @class = "CurrentCommunity" })
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            if ($("#CensusDateInvalid").val() == "1") {
                alert("Error: Please enter a valid Last Census Date (mm/dd/yyyy)");
            }
            if ($("#CensusDateInFuture").val() == "1") {
                alert("Error: You can not have a Census date that is in the future");
            }
        });

        var currentCommunity = $("#CurrentCommunity").val();
        $("#Communities").val(currentCommunity);

        $("#Communities").change(function () {
            var facility = $("#Communities option:selected").val();
            $("#CurrentCommunity").val(facility);
            if (facility != "") {
                $("#SideDDL").submit();
            }
        });
    });
</script>

