@model AtriumWebApp.Web.Survey.Models.ViewModel.DeficiencyGroupViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("CreateDeficiencyGroup"))
{
    <div>
        New Deficiency Group:
        @Html.DropDownListFor(m => m.GroupType, new SelectList(AtriumWebApp.Web.Survey.Models.ViewModel.DeficiencyGroupViewModel.ValidGroupTypes, Model.GroupType))
        @Html.TextBoxFor(m => m.Description)
        <input type="submit" value="Add" class="add-button" />
    </div>
}