@model AtriumWebApp.Web.Survey.Models.ViewModel.ReviewSampleSelectionViewModel
@{
    ViewBag.Title = "Select Residents for " + Model.Name;
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SectionId)
    @Html.HiddenFor(m => m.SectionType)
    <div class="container_16 margin_separator">
        <table id="residents">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Unit</th>
                    <th>Room</th>
                    <th>Include?</th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(m => m.Options)
            </tbody>
        </table>
    </div>
    <button id="back">Back</button>
    <input type="submit" class="float-right" value="Save & Continue" />
}
<environment names="Development">
    <script src="~/js/QuarterlySystemsReviewEditPage.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/QuarterlySystemsReviewEditPage.min.js" asp-append-version="true"></script>
</environment>
<script type="text/javascript">
    $(document).ready(function () {
        PrepareResidentTable();
        PrepareBackButton('../');
    });
</script>
