@model CompositeWoundDescribe

@if(Model.CompositeWoundDescribeId == 0)
{
    Model.DataEntryFlg = true;
    Model.ReportFlg = true;
}

<form asp-action="NewDescribe" asp-controller="StandardsOfCareAdmin">
    <input asp-for="CompositeWoundDescribeName" placeholder="New Composite Wound Description" />
    <span asp-validation-for="CompositeWoundDescribeName" class="text-danger"></span>
    <input asp-for="DataEntryFlg" hidden="hidden" />
    <input asp-for="ReportFlg" hidden="hidden" />
    <input type="submit" value="Add" />
</form>