@model Measure

@if (Model.SOCMeasureId == 0)
{
    Model.DataEntryFlg = true;
    Model.ReportFlg = true;
    Model.ResolveRequiredFlg = false;
}

<form asp-action="NewMeasure" asp-controller="StandardsOfCareAdmin">
    <input asp-for="SOCMeasureName" placeholder="New Measure" />
    <span asp-validation-for="SOCMeasureName" class="text-danger"></span>
    <input asp-for="DataEntryFlg" hidden="hidden" />
    <input asp-for="ReportFlg" hidden="hidden" />
    <input asp-for="ResolveRequiredFlg" hidden="hidden" />
    <input type="submit" value="Add" />
</form>