@model SOCFallInjuryType

@if (Model.SOCFallInjuryTypeId == 0)
{
    Model.DataEntryFlg = true;
}

<form asp-action="NewInjury" asp-controller="StandardsOfCareAdmin">
    <input asp-for="SOCFallInjuryTypeName" placeholder="New Fall Injury" />
    <span asp-validation-for="SOCFallInjuryTypeName" class="text-danger"></span>
    <input asp-for="DataEntryFlg" hidden="hidden" />
    <input type="submit" value="Add" />
</form>