@model DischargeReason

@if(Model.DischargeReasonId == 0)
{
    //A new Discharge reason should have the following values set at create.
    Model.Top_N = false;
    Model.HospitalDataEntryFlg = true;
    Model.ERDataEntryFlg = true;
    Model.ReportFlg = true;
}

<form asp-action="NewDischargeReason" asp-controller="HospitalDischargeAdmin">
    <input asp-for="DischargeReasonDesc" placeholder="Discharge Reason" />
    <span asp-validation-for="DischargeReasonDesc" class="text-danger"></span>

    <input asp-for="Top_N" hidden="hidden" />
    <input asp-for="ERDataEntryFlg" hidden="hidden"/>
    <input asp-for="HospitalDataEntryFlg" hidden="hidden"/>
    <input asp-for="ReportFlg" hidden="hidden"/>
    <input type="submit" value="Add" />
</form>