@{
    ViewData["Title"] = "Image Gallery";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-3">
        <div style="height:200px">
            <img src="~/images/monkey2.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <br />
        <h4>Drill Monkey</h4>
        <ul>
            <li>
                The drill is an Old World monkey, related to the baboon and more closely to the mandrill.
            </li>
            <li>
                It has a very short tail, a large head and a large muzzle.
            </li>
            <li>
                Though it is mostly terrestrial (ground-dwelling), traveling over land on all fours, it will climb up into the trees to sleep at night.
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <div style="height:200px">
            <img src="~/images/babymonkey1.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <br />
        <h4>Baby Black-Crested Mangabey</h4>
        <ul>
            <li>
                The black crested mangabey is a species of primate in the family Cercopithecidae.
            </li>
            <li>
                It is found in Angola and Democratic Republic of the Congo.
            </li>
            <li>
                Its natural habitat is subtropical or tropical dry forests.
            </li>
            <li>
                It is threatened by habitat loss.
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <div style="height:200px">
            <img src="~/images/babymonkey2.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <br />
        <h4>Baby Japanese Macaque</h4>
        <ul>
            <li>
                The Japanese Macaque is also called the Snow Monkey.
            </li>
            <li>
                They feature brown and gray fur.
            </li>
            <li>
                The Japanese Macaque live in very large groups.
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <div style="height:200px">
            <img src="~/images/emperortamarinmonkey.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <br />
        <h4>Emperor Tamarin Monkey</h4>
        <ul>
            <li>
                The emperor tamarin (Saguinus imperator), is a species of tamarin allegedly named for its resemblance to the German emperor Wilhelm II.
            </li>
            <li>
                It lives in the southwest Amazon Basin, in east Peru, north Bolivia and in the west Brazilian states of Acre and Amazonas.
            </li>
            <li>
                Diet: The vast majority of the emperor tamarins diet consists of plant matter. They are also known to eat fruit, tree sap, insects, and small vertebrates. Occasionally they will rob birds' nests of their eggs. The types of insects they feed on include locusts, beetles, butterflies, spiders, and ants.
            </li>
        </ul>
    </div>
</div>