@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Animalpaloooza LTD.
    1111 Tigergonnagetya Lane<br />
    Chicago, IL 43210<br />
    <abbr title="Phone">Phone:</abbr>
    1-888-URA-FISH
</address>

<address>
    <strong>Comments?</strong> Let us know! <a href="mailto:Support@example.com">contact@animalpaloooza.com</a><br />
</address>