@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Animalpaloooza LTD.
    1234 Zoology Way<br />
    Columbus, OH 43212<br />
    <abbr title="Phone">P:</abbr>
    614.555.0100
</address>

<address>
    <strong>Comments?</strong> Let us know! <a href="mailto:Support@example.com">contact@animalpaloooza.com</a><br />
</address>