@{
    ViewData["Title"] = "Diet";
}

<h2>Food</h2>
<div class="container">
    <div class="col-xs-12">
        <h3>What do monkeys eat?</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/diet1.jpg" class="img-responsive" />
        </div>
        <div class="col-md-8">
            <p> Monkeys eat several small meals throughout the day. The primary staple of their diet is commercial monkey chow. They eat chow three times a day and it is supplemented with whole oats, vitamins, vegetables, water, and a small amount of apple and nuts.</p>
            <p>
                Favorite food- Bananas, of course! But you don't have to be a monkey to love bananas. Children and adults alike crave this sweet yellow fruit. Whether you like to peel a banana and eat it fresh or you prefer a banana split with ice cream and other toppings, these tempting treats will tickle your taste buds.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/diet2.jpg" class="img-responsive" />
        </div>
        <div class="col-md-8">
            <p>
                
                Most monkeys are <a href="#" data-toggle="tooltip" title="An omnivore is a kind of animal that eats either other animals or plants">omnivores</a>. Monkeys love eating ripe fruits and seeds but, they also eat vegetables. Beside bark and leaves, they eat honey and flowers also.
            </p>
            <p>
                Chimpanzees have been known to hunt other full-grown colobus monkeys.  Among the great apes (the gorilla, the orangutan, the bonobo, and the chimpanzee) and ourselves, only humans and chimpanzees hunt and eat meat on a frequent basis.
            </p>
        </div>
    </div>
</div>