@{
    ViewData["Title"] = "Habitat";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="col-xs-12">
        <h3>Where are monkeys found?</h3>
    </div>
    <div class="col-xs-12">
        <img src="~/images/map.jpg" class="img-responsive" />        
        <h3> 
            <a href="#" data-toggle="tooltip" title="(platyrrhines)">New World monkeys </a>  are from South and Central America.
        </h3>
    </div>
    <div class="col-xs-12">        
        <img src="~/images/africaMap.jpg" class="img-responsive" />      
        <h3> 
            <a href="#" data-toggle="tooltip" title="(catarrhines of the superfamily Cercopithecoidea) ">Old World monkeys </a>are from Africa and Asia.
        </h3>        
    </div>
    <div class="col-xs-12">
        <img src="~/images/monkeyInTree.jpeg" class="img-responsive" />
        <h3>
            Many monkey species are <a href="#" data-toggle="tooltip" title="Well-built for living and moving about in trees.">arboreal</a>, although there are species that live primarily on the ground, such as baboons.
        </h3>
    </div>
</div>