<h2> Habitat</h2>
<div class="container">
    <div class="col-xs-12">
        <h3>Where are monkeys found?</h3>
    </div>

    <div class="col-xs-12">
        
            <img src="~/images/map.jpg" class="img-responsive" />
        
            <h3> <a href="#" data-toggle="tooltip" title="(platyrrhines)">New World monkeys </a>  are from South and Central America.</h3>
        </div>
    </div>
        

    <div class="row">
        <div class="col-md-4">
            <img src="~/images/map.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-8">
            <p> New World monkeys (platyrrhines) are from South and Central America.</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">

            <img src="~/images/africaMap.jpg" class="img-responsive" />
      
            <h3> <a href="#" data-toggle="tooltip" title="(catarrhines of the superfamily Cercopithecoidea) ">Old World monkeys </a>are from Africa and Asia.</h3>
        
    </div>

        <div class="col-xs-12">

            <br />
            <div class="row">
                <div class="col-md-4">
                    >>>>>>> ef6bfc8ac6c6a72c0538ba00a7dfe6a3918eb5a5
                    <img src="~/images/monkeyInTree.jpeg" class="img-responsive" />

                    <h3>
                        Many monkey species are <a href="#" data-toggle="tooltip" title="Well-built for living and moving about in trees.">arboreal</a>, although there are species that live primarily on the ground, such as baboons.
                    </h3>

                </div>
            </div>

            <h2>Food</h2>
            <div class="container">
                <div class="col-xs-12">
                    <h3>What do monkeys eat?</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/images/diet1.jpg" class="img-responsive" />
                    </div>
                    <div class="col-md-8">
                        <p> Monkeys eat several small meals throughout the day. The primary staple of their diet is commercial monkey chow. They eat chow three times a day and it is supplemented with whole oats, vitamins, vegetables, water, and a small amount of apple and nuts.</p>
                        <p>
                            Favorite food- Bananas, of course! But you don't have to be a monkey to love bananas. Children and adults alike crave this sweet yellow fruit. Whether you like to peel a banana and eat it fresh or you prefer a banana split with ice cream and other toppings, these tempting treats will tickle your taste buds.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/images/diet2.jpg" class="img-responsive" />
                    </div>
                    <div class="col-md-8">
                        <p>

                            Most monkeys are <a href="#" data-toggle="tooltip" title="An omnivore is a kind of animal that eats either other animals or plants">omnivores</a>. Monkeys love eating ripe fruits and seeds but, they also eat vegetables. Beside bark and leaves, they eat honey and flowers also.
                        </p>
                        <p>
                            Chimpanzees have been known to hunt other full-grown colobus monkeys.  Among the great apes (the gorilla, the orangutan, the bonobo, and the chimpanzee) and ourselves, only humans and chimpanzees hunt and eat meat on a frequent basis.
                        </p>
                    </div>
                </div>
            </div>
<h2>Species</h2>

<div class="row">
    <div class="col-md-3">
        <div style="height:200px">
            <img src="~/images/monkey2.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <br />
        <h4>Drill Monkey</h4>
        <ul>
            <li>
                The drill is an Old World monkey, related to the baboon and more closely to the mandrill.
            </li>
            <li>
                It has a very short tail, a large head and a large muzzle.
            </li>
            <li>
                Though it is mostly terrestrial (ground-dwelling), traveling over land on all fours, it will climb up into the trees to sleep at night.
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <div style="height:200px">
            <img src="~/images/babymonkey1.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <br />
        <h4>Baby Black-Crested Mangabey</h4>
        <ul>
            <li>
                The black crested mangabey is a species of primate in the family Cercopithecidae.
            </li>
            <li>
                It is found in Angola and Democratic Republic of the Congo.
            </li>
            <li>
                Its natural habitat is subtropical or tropical dry forests.
            </li>
            <li>
                It is threatened by habitat loss.
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <div style="height:200px">
            <img src="~/images/babymonkey2.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <br />
        <h4>Baby Japanese Macaque</h4>
        <ul>
            <li>
                The Japanese Macaque is also called the Snow Monkey.
            </li>
            <li>
                They feature brown and gray fur.
            </li>
            <li>
                The Japanese Macaque live in very large groups.
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <div style="height:200px">
            <img src="~/images/emperortamarinmonkey.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <br />
        <h4>Emperor Tamarin Monkey</h4>
        <ul>
            <li>
                The emperor tamarin (Saguinus imperator), is a species of tamarin allegedly named for its resemblance to the German emperor Wilhelm II.
            </li>
            <li>
                It lives in the southwest Amazon Basin, in east Peru, north Bolivia and in the west Brazilian states of Acre and Amazonas.
            </li>
            <li>
                Diet: The vast majority of the emperor tamarins diet consists of plant matter. They are also known to eat fruit, tree sap, insects, and small vertebrates. Occasionally they will rob birds' nests of their eggs. The types of insects they feed on include locusts, beetles, butterflies, spiders, and ants.
            </li>
        </ul>
    </div>
</div>