<h2> Diet</h2>
<div class="container">
    <div class="col-xs-12">
        <h3>
            Anatomy and Biology:
        </h3>
    </div>
    <div class="col-md-4">
        <img src="" class="img-responsive"/>
    </div>
    <div class=" col-md-8">
        <ul>
            <li>A colony of honey bees comprises a cluster of several to 60,000 workers (sexually immature females), a queen (a sexually developed female), and, depending on the colony population and season of year, a few to several hundred drones (sexually developed males).</li>
            <li>A colony normally has only one queen, whose sole function is egg laying. The bees cluster loosely over several wax combs, the cells of which are used to store honey (carbohydrate food) and pollen (protein food) and to rear young bees to replace old adults.</li>
            <li>As temperatures drop, the bees draw closer together to conserve heat. The outer layer of bees is tightly compressed, insulating the bees within the cluster. As the temperature rises and falls, the cluster expands and contracts.</li>
            <li>With an average lifespan of only two to five weeks (for summer bees) much can be accomplished, including; raising thousands of larvae, gathering pollen, secreting wax comb, creating pounds of honey and royal jelly, and protecting the hive.</li>
            <li></li>
        </ul>

    </div>
   

    <div class="col-xs-12">
        <h3>Habitat</h3>
        <div class="col-md-4">
            <img src="" class="img-responsive" />
        </div>
        <div class=" col-md-8">
            <ul>
                <li>
                    Researchers believe that the original habitats of the honey bee are tropical climates and heavily forested areas.
                </li>
                <li>Within their natural habitat, honey bees build nests inside tree cavities and under edges of objects to hide themselves from predators. Because honey bees in tropical habitats, such as African honey bees, do not experience long weeks of cold weather, they do not need to build large and well-insulated nests, produce thousands of workers or store large amounts of honey.</li>
                <li></li>
                <li></li>
            </ul>

        </div>
        <img src="" class="img-responsive" />


    </div>
</div>
        

    