@{
    ViewData["Title"] = "Habitat";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="col-xs-12">
        <h3>Where are monkeys found?</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/map.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-8">
            <p> New World monkeys (platyrrhines) are from South and Central America.</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/africaMap.jpg" class="img-responsive" />
        </div>
        <div class="col-md-8">
            <p> Old World monkeys (catarrhines of the superfamily Cercopithecoidea) are from Africa and Asia.</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/monkeyInTree.jpeg" class="img-responsive" />
        </div>
        <div class="col-md-8">
            <p> Many monkey species are tree-dwelling (arboreal), although there are species that live primarily on the ground, such as baboons.</p>
        </div>
    </div>
</div>