@model AtriumWebApp.Models.Budget.PayType
<form id="editPT" asp-action="SavePT" asp-controller="Admin">
    <table>
        <tr>
            <td>
                Code:
            </td>
            <td>
                @if (!string.IsNullOrEmpty(Model.PayTypeCd))
                {
                    <input asp-for="PayTypeCd" disabled="disabled" />
                    <input asp-for="PayTypeCd" hidden="hidden" />
                }
                else
                {
                    <input asp-for="PayTypeCd" />
                }
                <br />
                <span asp-validation-for="PayTypeCd"></span>
            </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input asp-for="PayTypeNm" />
                <br />
                <span asp-validation-for="PayTypeNm"></span>
            </td>
        </tr>
        <tr>
            <td>
                Payer Group:
            </td>
            <td>
                <select asp-for="PayGrpCd" asp-items="ViewBag.PayGrpCds">
                    <option disabled selected></option>
                </select>
                <br />
                <span asp-validation-for="PayGrpCd"></span>
            </td>
        </tr>
    </table>
</form>
<script>

    $("#editPT").on("change", "input, select", function () {
        var form = $(this).closest("form");
        var url = form.attr("action");
        if (form.valid()) {
            $.post(url, form.serialize(), function (data) {
                if (data.Success) {
                    if (data.Type == "new") {
                        $("#ptDialog").dialog("close");
                        $("#adminPT").click();
                    }
                } else {
                    alert(data.Message);
                }
            }).fail(function () {
                alert("Server is not responding, please try again.");
            });
        }
    });

    $.validator.setDefaults({ ignore: [] });
    $("#editPT").removeData("validator");
    $("#editPT").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#editPT"));
    $("#editPT").validate();
</script>
