@model AtriumWebApp.Models.Budget.ViewModels.GeneralLedgerAdminViewModel

@{
    Model.GeneralLedgers = Model.GeneralLedgers.OrderBy(a => a.GLAccountNb).ToList();
    SelectList generLedgerSelector = new SelectList(Model.GeneralLedgers, "GLAccountIndex", "DisplayName");
}

<div id="glEditor">
    <div style="border:solid thin black">
        <div style="display:inline-block" id="glEditSection">
            
            @*@foreach (var generalLedger in Model.GeneralLedgers)
            {
                @Html.EditorFor(a => generalLedger, "", "", new { LaborGLGroups = laborGLGroups, AccountTypes = accountTypes, PayGrpCds = payGrpCds })
            }*@
        </div>
    </div>
    <div class="recordSelection">
        Record: <i class="fa fa-fast-backward selector" id="genLedgerFirst"></i>
        <i class="fa fa-backward selector" aria-hidden="true" id="genLedgerBack"></i>
        <input id="genLedgerSelector" />
        <i class="fa fa-forward selector" aria-hidden="true" id="genLedgerForward"></i>
        <i class="fa fa-fast-forward selector" aria-hidden="true" id="genLedgerLast"></i>
        <i class="fa fa-plus selector" aria-hidden="true" id="newgenLedger" style="color:green"></i>
        <i class="fa fa-times selector" aria-hidden="true" id="deletegenLedger" style="color:red;"></i>
        <select id="selectedgenLedger" class="glDropdown">
            @for (int i = 0; i < Model.GeneralLedgers.Count; i++)
            {
                var ledger = Model.GeneralLedgers[i];
                @:<option value="@ledger.GLAccountIndex" rowNum="@(i + 1)">@ledger.DisplayName</option>
            }
        </select>
    </div>
</div>
