<style>

</style>

<div style="width:150px;">
    <input class="adminButton" type="button" value="Facilities" id="adminFacilities" />
    <input class="adminButton" type="button" value="General Ledger" id="adminGL" />
    <input class="adminButton" type="button" value="Payer Types" id="adminPT" />
    <input class="adminButton" type="button" value="Budget Types" id="adminBT" />
    <input class="adminButton" type="button" value="Edit Budget Year" id="adminBudYr" />
    <input class="adminButton" type="button" value="Regions" id="adminRegion" />
    <input class="adminButton" type="button" value="States" id="adminStates" />
    <input class="adminButton" type="button" value="Other Exp Calculations" id="adminExpCalc" />
    <input class="adminButton" type="button" value="Other Exp Calc Value" id="adminExpCalcValue" />
    <input class="adminButton" type="button" value="Other Exp Calc Value Setup" id="adminExpCalcValueSetup" />

    <div class="panel" id="importPanel">
        <div class="panel-title">INTACT Import File</div>
        <input class="adminButton" type="button" value="Re-build Intact Import Data" id="adminRebuild" />
        <input class="adminButton" type="button" value="Select Facilities To Export" id="adminExport" />
    </div>

    <input class="adminButton" type="button" value="Export to Excel" id="adminExcelExport" />
</div>
<div style="display:none;">
    <div id="facilityDialog">

    </div>
    <div id="glDialog">

    </div>
    <div id="ptDialog">

    </div>
    <div id="btDialog">

    </div>
    <div id="byDialog">

    </div>
    <div id="stateDialog">

    </div>
    <div id="RegionDialog">

    </div>
    <div id="calculationsDialog">

    </div>
    <div id="calcValuesDialog">

    </div>
    <div id="calcValueSetupDialog">

    </div>
    <div id="FileProcessingDialog">
        The Intact export files are being processed.
        Status: <span id="fileProcessStatus"></span>
        <div id="progressbar"></div>
    </div>
    <div id="exportCSVDialog">

    </div>
    <div id="exportExcelDialog">

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/Admin.js" asp-append-version="true"></script>
