@model AtriumWebApp.Models.Budget.State
<form id="editState" asp-action="SaveState" asp-controller="Admin">
    <table>
        <tr>
            <td>
                State ID
            </td>
            <td>

                    <input asp-for="StateID" disabled="disabled" />
                    <input asp-for="StateID" hidden="hidden" />
                <br />
                <span asp-validation-for="StateID"></span>
            </td>
        </tr>
        <tr>
            <td>
                State Code
            </td>
            <td>
                <input asp-for="StateCd" />
                <br />
                <span asp-validation-for="StateCd"></span>
            </td>
        </tr>
    </table>
</form>
<script>

    $("#editState").on("change", "input, select", function () {
        var form = $(this).closest("form");
        var url = form.attr("action");
        if (form.valid()) {
            $.post(url, form.serialize(), function (data) {
                if (data.Success) {
                    if (data.Type == "new") {
                        $("#StateDialog").dialog("close");
                        $("#adminState").click();
                    }
                } else {
                    alert(data.Message);
                }
            }).fail(function () {
                alert("Server is not responding, please try again.");
            });
        }
    });

    $.validator.setDefaults({ ignore: [] });
    $("#editState").removeData("validator");
    $("#editState").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#editState"));
    $("#editState").validate();
</script>
