<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--64MB limit-->
        <requestLimits maxAllowedContentLength="67108864"/>
      </requestFiltering>
    </security>
    <handlers>
      <clear />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="true" arguments="%LAUNCHER_ARGS%" />
  </system.webServer>
</configuration>