
<style>
    div .grid_16 
    { 
        margin-top: 30px; 
        font-size: 30px;
    }
</style>

<div class="container_16 margin_separator top-margin">
    <div class="grid_16">
        @Html.ActionLink("Manage Providers", "Providers")
    </div>
    <div class="grid_16">
        @Html.ActionLink("Manage Contracts", "Contracts")
    </div>
</div>


