@model AtriumWebApp.Web.HR.Models.ViewModel.DocumentViewModel
<form asp-action="UploadFile" enctype="multipart/form-data" class="fileUploadForm" >
    <div style="display:none">
        <input asp-for="ContentType" name="ContentType" />
        <input asp-for="DocumentFileName" name="DocumentFileName" />
        <input asp-for="Id" name="Id"/>
        <input asp-for="ParentId" name="ParentId"/>
    </div>
    @if (Model.Id == 0)
    {
        <input asp-for="Document" name="Document"/>
        <input type="submit" value="Upload" class="saveFile" />
    }
    else
    {
        @Html.ActionLink(Model.DocumentFileName, "GetFile", new { docId = Model.Id })
        @Html.ActionLink("", "DeleteFile", new { docId = Model.Id }, new { @class = "glyphicon glyphicon-remove deleteFile" })
        @*<div class="glyphicon glyphicon-remove"></div>*@
    }

</form>
