@model AtriumWebApp.Web.HR.Models.ViewModel.NewHireSideBar
<style>
    #employeeDropdown {
        font-size: 13px;
        border-radius: 0px;
        border-color: rgb(169, 169, 169) !important;
        padding: 0;
        padding-left: 4px;
        background-color:white;
    }

    #employeeIdDropdown {
        padding-left: 4px;
    }

        #employeeIdDropdown li:hover {
            background-color: lightgrey;
            cursor: default;
        }

    .complete {
        color: green;
    }

    .inProgress {
        color: orange;
    }

    .notStarted {
        color: firebrick;
    }
    #dropdownText {
        display:inline-block;
    }
</style>
<div class="container-fluid">
    <form asp-action="SideBarUpdate" asp-controller="NewHire" id="sideBarForm">
        <div class="row">
            <label asp-for="IncludeTerminated"></label>
            <input asp-for="IncludeTerminated" />
        </div>
        <br />
        <div class="row">
            <label asp-for="LookBackDate"></label>
        </div>
        <div class="row">
            <input asp-for="LookBackDate" asp-format="{0:d}" type="text" class="isDate" />
        </div>
        <br />
        <div class="row">
            <label asp-for="SelectedFacilityId"></label>
        </div>
        <div class="row">
            <select asp-for="SelectedFacilityId" asp-items="Model.FacilityList"></select>
        </div>
        <br />
        <div class="row">
            <label asp-for="SelectedEmployeeId"></label>
        </div>
        <div class="row">
            <div class="dropdown">
                <button id="employeeDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div id="dropdownText">
                        @if (Model.SelectedEmployeeId == 0)
                        {
                            @:Select Employee
                        }
                        else
                        {
                            @Model.EmployeeStatusList.First(a => a.EmployeeId == Model.SelectedEmployeeId).EmployeeDisplayName

                        }
                    </div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="employeeDropdown" id="employeeIdDropdown">
                    @foreach (var employeeStatus in Model.EmployeeStatusList.OrderBy(a => a.EmployeeDisplayName).ToList())
                    {
                        string cssClass = employeeStatus.EmployeeDocStatus;
                        switch (cssClass)
                        {
                            case "complete":
                                cssClass += " fa fa-check-square";
                                break;
                            default:
                                cssClass += " fa fa-exclamation-triangle";
                                break;

                        }
                        <li value="@employeeStatus.EmployeeId"><i class="@cssClass"></i>@employeeStatus.EmployeeDisplayName</li>
                    }
                </ul>
            </div>
            <input type="hidden" asp-for="SelectedEmployeeId" />
        </div>
        <div class="row">
            <i class="fa fa-check-square complete"></i> Completed
        </div>
        <div class="row">
            <i class="fa fa-exclamation-triangle inProgress"></i> All checklists have files, but not complete
        </div>
        <div class="row">
            <i class="fa fa-exclamation-triangle notStarted"></i> Not started or some checklist items are missing files
        </div>
    </form>
    <div id="employeInfo">
        <label class="text-danger">Please choose an Employee</label>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".isDate").datepicker();
        $("#employeeIdDropdown").on("click", "li", function () {
            $("#SelectedEmployeeId").val($(this).val());
            $("#SelectedEmployeeId").change();
            $("#dropdownText").text($(this).text());
        });
    });
</script>