@using AtriumWebApp.Web.Base.Library
@using AtriumWebApp.Models
@{
    IList<Community> RMUFacilityList;
    Context.Session.TryGetObject("RMUFacilityList", out RMUFacilityList);
    string RMWCurrentCommunity;
    Context.Session.TryGetObject("RMWCurrentCommunity", out RMWCurrentCommunity);
}

<section id="workersCompSideBar">
    @using (Html.BeginForm("SideDDL", "RMUnemployment", FormMethod.Post, new { id = "SideDDL" }))
    {
        @Html.Label("Community:")<br />
        @Html.DropDownList("Communities", RMUFacilityList as SelectList, new { id = "Communities" })
    }
    @Html.Hidden("CurrentCommunity", RMWCurrentCommunity, new { @class = "CurrentCommunity" })
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var currentCommunity = $(".CurrentCommunity").val();
        $("#Communities").val(currentCommunity);
    });
</script>
