@model AtriumWebApp.Models.ViewModel.HomeViewModel
@{
    ViewBag.Title = "ASAP Hotline";
}
<style>
    #ASPLink {
        margin-left: 152px;
    }
</style>
<script>
    $(document).ready(function () {
        $("a").on('click', function () {
            window.ShowProgress();
        });
    })
</script>

<table id="homeButtonTable">
    <tr>
        <td>
            @if (Model.HasAccessTo("ASAP"))
            {
                <a href="~/ASAPHotline/" id="ASPLink">
                    <p>ASAP Hotline</p>
                </a>
            }
        </td>
    </tr>
</table>