@model AtriumWebApp.Web.Schedule.Models.ViewModel.TextOpenShiftEmployees
<table id="TextOpenShiftEmployeeTable">
    <thead>
        <tr>
            <th>Selected Employees</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.textOpenShiftEmployees)
        {
            <tr id="@employee.EmployeeId" class="textOpenShiftEmployee">
                <td>&nbsp;&nbsp;@employee.EmployeeName</td>
                <td>@Html.CheckBoxFor(m => employee.Selected, new { @class = "selectEmployee" })</td>
            </tr>
        }
    </tbody>
</table>

