@model List<VaccineHistoryViewModel>

<table id="vaccineTable">
    <thead>
        <tr>
            <th colspan="4" style="font-weight: bold">Vaccination History</th>
        </tr>
        <tr>
            <th>
                Type
            </th>
            <th>
                Date
            </th>
            <th>
                Refused
            </th>
            <th>
                Consent
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var vaccine in Model)
        {
            <tr vaccineId="@vaccine.PatientVaccineId">
                <td>
                    @vaccine.VaccineType.VaccineTypeName
                </td>
                <td>
                    @(vaccine.VaccineDate.HasValue ? vaccine.VaccineDate.Value.ToString("d") : "Prior to Admission")
                </td>
                <td>
                    @if (vaccine.OfferedRefusedFlg)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No

                    }
                </td>
                <td>
                    @if (vaccine.ConsentSignedFlg)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No

                    }
                </td>
                <td>
                    @(vaccine.VaccineDate.HasValue ? vaccine.VaccineDate.Value.ToString("yyyy-MM-dd") : "0")
                </td>
            </tr>

        }
    </tbody>
</table>