@model AtriumWebApp.Web.ClinicalOps.Models.PatientIFCAntibiotic

@if(Model.PatientIFCAntibioticId == 0)
{
    Model.DataEntryFlg = true;
}

<form asp-action="NewAntibiotic" asp-controller="InfectionControlAdmin">
    <input asp-for="PatientIFCAntibioticName" placeholder="New Antibiotic" />
    <span asp-validation-for="PatientIFCAntibioticName" class="text-danger"></span>
    <input asp-for="DataEntryFlg" hidden="hidden" />
    <input type="submit" value="Add" />
</form>