@model AtriumWebApp.Web.ClinicalOps.Models.PatientIFCSymptom

@if (Model.PatientIFCSymptomId == 0)
{
    Model.DataEntryFlg = true;
}

<form asp-action="NewSymptom" asp-controller="InfectionControlAdmin">
    <input asp-for="PatientIFCSymptomName" placeholder="New Symptom" />
    <span asp-validation-for="PatientIFCSymptomName" class="text-danger"></span>
    <input asp-for="DataEntryFlg" hidden="hidden" />
    <input type="submit" value="Add" />
</form>