@model AtriumWebApp.Web.PayrollTransfer.Models.PTContractor

<form asp-action="Create" asp-controller="PayrollTransferAdmin">
    <div style="display:inline-block">
        <input asp-for="FirstName" placeholder="First Name" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div style="display:inline-block">
        <input asp-for="LastName" placeholder="Last Name" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div style="display:inline-block">
        <input asp-for="VendorNbr" placeholder="Vendor Number" />
        <span asp-validation-for="VendorNbr"></span>
    </div>
    <input type="submit" value="Add New Contractor" />
</form>