@model AtriumWebApp.Models.Budget.Region
<form id="editRegion" asp-action="SaveRegion" asp-controller="AdminLocation">
    <table>
        <tr>
            <td>
                Region ID
            </td>
            <td>

                    <input asp-for="RegionID" disabled="disabled" />
                    <input asp-for="RegionID" hidden="hidden" />
                <br />
                <span asp-validation-for="RegionID"></span>
            </td>
        </tr>
        <tr>
            <td>
                Region Code
            </td>
            <td>
                <input asp-for="RegionNm" />
                <br />
                <span asp-validation-for="RegionNm"></span>
            </td>
        </tr>
    </table>
</form>
<script>

    $("#editRegion").on("change", "input, select", function () {
        var form = $(this).closest("form");
        var url = form.attr("action");
        if (form.valid()) {
            $.post(url, form.serialize(), function (data) {
                if (data.Success) {
                    if (data.Type == "new") {
                        $("#RegionDialog").dialog("close");
                        $("#adminRegion").click();
                    }
                } else {
                    alert(data.Message);
                }
            }).fail(function () {
                alert("Server is not responding, please try again.");
            });
        }
    });

    $.validator.setDefaults({ ignore: [] });
    $("#editRegion").removeData("validator");
    $("#editRegion").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#editRegion"));
    $("#editRegion").validate();
</script>
