@model List<AtriumWebApp.Models.Budget.Region>

<div id="RegionEditor">
    <div style="border:solid thin black">
        <div style="display:inline-block" id="RegionEditSection">

            @*@foreach (var generalLedger in Model.GeneralLedgers)
                {
                    @Html.EditorFor(a => generalLedger, "", "", new { LaborGLGroups = laborGLGroups, AccountTypes = accountTypes, PayGrpCds = payGrpCds })
                }*@
        </div>
    </div>
    <div class="recordSelection">
        Record: <i class="fa fa-fast-backward selector" id="RegionFirst"></i>
        <i class="fa fa-backward selector" aria-hidden="true" id="RegionBack"></i>
        <input id="RegionSelector" />
        <i class="fa fa-forward selector" aria-hidden="true" id="RegionForward"></i>
        <i class="fa fa-fast-forward selector" aria-hidden="true" id="RegionLast"></i>
        @*<i class="fa fa-plus selector" aria-hidden="true" id="newRegion" style="color:green"></i>
        <i class="fa fa-times selector" aria-hidden="true" id="deleteRegion" style="color:red;"></i>*@
        <select id="selectedRegion">
            @for (int i = 0; i < Model.Count; i++)
            {
                var pt = Model[i];
                @:
                <option value="@pt.RegionID" rowNum="@(i + 1)">@pt.RegionNm</option>
            }
        </select>
    </div>
</div>
