@model List<AtriumWebApp.Models.Budget.State>

<div id="stateEditor">
    <div style="border:solid thin black">
        <div style="display:inline-block" id="stateEditSection">
            
            @*@foreach (var generalLedger in Model.GeneralLedgers)
            {
                @Html.EditorFor(a => generalLedger, "", "", new { LaborGLGroups = laborGLGroups, AccountTypes = accountTypes, PayGrpCds = payGrpCds })
            }*@
        </div>
    </div>
    <div class="recordSelection">
        Record: <i class="fa fa-fast-backward selector" id="stateFirst"></i>
        <i class="fa fa-backward selector" aria-hidden="true" id="stateBack"></i>
        <input id="stateSelector" />
        <i class="fa fa-forward selector" aria-hidden="true" id="stateForward"></i>
        <i class="fa fa-fast-forward selector" aria-hidden="true" id="stateLast"></i>
        @*<i class="fa fa-plus selector" aria-hidden="true" id="newstate" style="color:green"></i>
        <i class="fa fa-times selector" aria-hidden="true" id="deletestate" style="color:red;"></i>*@
        <select id="selectedstate">
            @for (int i = 0; i < Model.Count; i++)
            {
                var pt = Model[i];
                @:<option value="@pt.StateID" rowNum="@(i + 1)">@pt.StateCd</option>
            }
        </select>
    </div>
</div>
