@model AtriumWebApp.Web.Survey.Models.ViewModel.InstructionsViewModel
@using (Html.BeginForm("Instructions","MockSurveyAdmin"))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.RecordType)
    <button class="float-right" type="button" id="close">X</button>
    <div class="container_16">
        <div class="grid_1">&nbsp;</div>
        <div class="grid_4">
            <h2 class="margin_separator" style="margin-left: 10px">Edit Instructions</h2>
        </div>
    </div>
    <div class="container_16">
        <div class="grid_2">@Html.TextAreaFor(m => m.Instructions, 6, 42, null)</div>
    </div>
    @Html.ValidationSummary(false)
    <div class="container_16">
        <div class="grid_2">&nbsp;</div>
        <div class="grid_2">
            <input type="submit" id="saveInstructions" style="margin-left: 20px; margin-top: 20px;" value="Save" />
        </div>
    </div>
}