@model UnemploymentBenefit
<form asp-action="SavePayment" id="payoutForm">
    <input type="hidden" asp-for="ClaimId" />
    <input type="hidden" asp-for="BenefitKey" />
    <div class="row">
        <div class="col-sm-12">
            <label class="bold">Payout Summary</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Maximum Pay Allowed:
        </div>
        <div class="col-sm-6">
            @Model.Claim.MaxClaimAmt.ToString("C")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Total Claim Amount:
        </div>
        <div class="col-sm-6">
            @{ 
                var amount = Model.Claim.Payments.Sum(a => a.BenefitAmt);
            }
            @if(amount > Model.Claim.MaxClaimAmt)
            {
                <span class="text-danger">@amount.ToString("C")</span>
            }
            else
            {
                @amount.ToString("C")
            }

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-5">
            Pay Cycle:
        </div>
        <div class="col-sm-7">
            @ViewBag.Cycle
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            Week Claimed:
        </div>
        <div class="col-sm-7">
            <input asp-for="BenefitDate" asp-format="{0:d}" type="text" class="isDate" data-rule-date="true" />
            <br />
            <span asp-validation-for="BenefitDate"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            Claim Payout:
        </div>
        <div class="col-sm-7">
            <input asp-for="BenefitAmt" />
            <br />
            <span asp-validation-for="BenefitAmt"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <input type="submit" id="submitPayment" value="Save" />
            <input type="button" id="clearPayment" value="Cancel" />
        </div>
    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<environment names="Development">
    <script src="~/js/AdditionalValidation.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/AdditionalValidation.min.js" asp-append-version="true"></script>
</environment>
<script>
    $.validator.setDefaults({ ignore: [] });
    $("#payoutForm").removeData("validator");
    $("#payoutForm").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#payoutForm"));
    $("#payoutForm").validate();
</script>