@model AtriumWebApp.Web.RiskManagement.Models.UnemploymentClaim
@{ 
    var incidentTypes = new SelectList((List<UnemploymentClaimReason>)ViewData["UnemploymentCodes"], "ReasonCd", "ReasonDesc");

}


<form asp-action="SaveClaim" id="claimForm">
    <input type="hidden" asp-for="ClaimId" />
    <input type="hidden" asp-for="EmployeeId" />
    <div class="row">
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6">
                    Claim Received:
                </div>
                <div class="col-sm-6">
                    <input asp-for="ClaimReceivedDate" type="text" asp-format="{0:d}" class="isDate" />
                    <br />
                    <span asp-validation-for="ClaimReceivedDate"class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Application:
                </div>
                <div class="col-sm-6">
                    <input asp-for="ApplicationDate" type="text" asp-format="{0:d}" class="isDate"  />
                    <br />
                    <span asp-validation-for="ApplicationDate"class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Claim Due:
                </div>
                <div class="col-sm-6">
                    <input asp-for="ClaimDueDate" type="text" asp-format="{0:d}" class="isDate"  />
                    <br />
                    <span asp-validation-for="ClaimDueDate"class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Docs Requested:
                </div>
                <div class="col-sm-6">
                    <input asp-for="DocsRequestedDate" type="text" asp-format="{0:d}" class="isDate"  />
                    <br />
                    <span asp-validation-for="DocsRequestedDate"class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Docs Due:
                </div>
                <div class="col-sm-6">
                    <input asp-for="DocsDueDate" type="text" asp-format="{0:d}" class="isDate"  />
                    <br />
                    <span asp-validation-for="DocsDueDate"class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Docs Received:
                </div>
                <div class="col-sm-6">
                    <input asp-for="DocsReceivedDate" type="text" asp-format="{0:d}" class="isDate" />
                    <br />
                    <span asp-validation-for="DocsReceivedDate"class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Appeal Sent:
                </div>
                <div class="col-sm-6">
                    <input asp-for="AppealSentDate" type="text" asp-format="{0:d}" class="isDate" />
                    <br />
                    <span asp-validation-for="AppealSentDate"class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Hearing Set:
                </div>
                <div class="col-sm-6">
                    <input asp-for="HearingSetDate" type="text" asp-format="{0:d}" class="isDate"  />
                    <br />
                    <span asp-validation-for="HearingSetDate"class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Maximum Pay Allowed:
                </div>
                <div class="col-sm-6">
                    <input asp-for="MaxClaimAmt" />
                    <br />
                    <span asp-validation-for="MaxClaimAmt"class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-2">
                    <input asp-for="PreventableFlg" />
                    <br />
                    <span asp-validation-for="PreventableFlg" class="text-danger"></span>
                </div>
                <div class="col-sm-10 text-left">
                    Preventable
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea asp-for="PreventableComments" rows="7" style="width:100%;display:none;"></textarea>
                    <br />
                    <span asp-validation-for="PreventableComments" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-12">
                    <label class="bold">Claim Status</label>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input asp-for="AppealedFlg" />
                    <br />
                    <span asp-validation-for="AppealedFlg" class="text-danger"></span>
                </div>
                <div class="col-sm-10">
                    Appealed
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input asp-for="ReceivingBenefitsFlg" />
                    <br />
                    <span asp-validation-for="ReceivingBenefitsFlg" class="text-danger"></span>
                </div>
                <div class="col-sm-10">
                    Receiving Benefits
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input asp-for="DeniedFlg" />
                    <br />
                    <span asp-validation-for="DeniedFlg" class="text-danger"></span>
                </div>
                <div class="col-sm-10">
                    Denied
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input asp-for="IneligibleFlg" />
                    <br />
                    <span asp-validation-for="IneligibleFlg" class="text-danger"></span>
                </div>
                <div class="col-sm-10">
                    Ineligible
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input asp-for="ChargeToStateFlg" />
                    <br />
                    <span asp-validation-for="ChargeToStateFlg" class="text-danger"></span>
                </div>
                <div class="col-sm-10">
                    Charged to State
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <label class="bold">Reason for Unemployment</label>
                    <br />
                    <select asp-for="ReasonCd" asp-items="incidentTypes">
                        <option value="" selected>Select...</option>
                    </select>
                    <br />
                    <span asp-validation-for="ReasonCd"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <input type="submit" id="saveClaim" value="Save" />
            <input type="button" id="newClaim" value="New Claim" />
        </div>
    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $.validator.setDefaults({ ignore: [] });
    $("#claimForm").removeData("validator");
    $("#claimForm").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#claimForm"));
    $("#claimForm").validate();
</script>