@model AtriumWebApp.Web.Survey.Models.ViewModel.FederalDeficiencyViewModel

<form asp-action="NewFedDef" asp-controller="SurveyAdmin">
    <label>New Federal Deficiency: </label>
    <input asp-for="Deficiency.TagCode" placeholder="Tag Code" />
    <span asp-validation-for="Deficiency.TagCode" class="text-danger"></span>
    <select asp-for="Deficiency.AtriumPayerGroupCode" asp-items="@Model.SurveyPayerGroups"></select>
    <span asp-validation-for="Deficiency.AtriumPayerGroupCode"></span>
    <textarea asp-for="Deficiency.Description"></textarea>
    <span asp-validation-for="Deficiency.Description"></span>
    <input type="submit" value="Add" />
</form>
