@model AtriumWebApp.Web.Survey.Models.ViewModel.StateDeficiencyViewModel

<form asp-action="NewStateDef" asp-controller="SurveyAdmin">
    <label>New State Deficiency: </label>
    <select asp-for="Deficiency.StateCode" asp-items="@Model.StateCodes"></select>
    <span asp-validation-for="Deficiency.StateCode"></span>
    <input asp-for="Deficiency.TagCode" placeholder="Tag Code" />
    <span asp-validation-for="Deficiency.TagCode" class="text-danger"></span>
    <textarea asp-for="Deficiency.Description"></textarea>
    <span asp-validation-for="Deficiency.Description"></span>
    <input type="submit" value="Add" />
</form>
