@model EmployeeIFCEvent
@{
    var infectionSites = new SelectList((List<PatientIFCSite>)ViewData["InfectionSites"], "PatientIFCSiteId", "PatientIFCSiteName");
}
<div align="center" class="container-fluid" style="min-width:660px;">
    <div class="row">
        <div class="col-sm-12 text-left">
            <span class="bold">Infection Control</span>
        </div>
    </div>
    <form asp-action="SaveInfection" asp-controller="EmployeeInfectionControl" id="SaveInfection">
        <input type="hidden" asp-for="EmployeeIFCEventId" />
        <input type="hidden" asp-for="EmployeeId" />
        <div class="row">
            <div class="col-sm-2 text-left">
                Onset Date:
            </div>
            <div class="col-sm-2 text-left">
                <input asp-for="OnsetDate" type="text" class="isDate" asp-format="{0:d}" />
                <br />
                <span asp-validation-for="OnsetDate" class="text-danger"></span>
            </div>
            <div class="col-sm-2 text-left">
                Work Days Missed:
            </div>
            <div class="col-sm-4 text-left">
                <input type="text" asp-for="MissedWorkDaysCnt" style="width:50px;"/>
                <br />
                <span asp-validation-for="MissedWorkDaysCnt"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 text-left">
                Site:
            </div>
            <div class="col-sm-4 text-left">
                <select asp-for="PatientIFCSiteId" asp-items="infectionSites">
                    <option value="" selected>Select a Site</option>
                </select>
                <br />
                <span asp-validation-for="PatientIFCSiteId"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <input type="submit" value="Save" id="saveInfectionForm" />
                <input type="button" value="Clear" id="clearInfectionForm" />
            </div>
        </div>
    </form>
</div>

<hr />