@model AtriumWebApp.Models.ViewModel.AdminHomeViewModel
@{
    ViewBag.Title = "Admin Page";
}

<div class="float-left">
    <div class="container_12">
        <div class="grid_2 bold">Server Name:</div>
        <div class="grid_2">@Model.ServerName</div>
    </div>
    <div class="container_12">
        <div class="grid_2 bold">Database Name:</div>
        <div class="grid_2">@Model.DatabaseName</div>
    </div>
    <ul id="admin-links">
        @if (Model.HomeViewModel.HasAccessTo("SKC"))
        {
            <li><a href="~/SkilledChartingAdmin/">Skilled Charting Admin Page</a></li>
        }
        @if (Model.HomeViewModel.HasAccessTo("PASRR"))
        {
            <li><a href="~/PASRRAdmin/">Pre-Admission Screening Resident Review Admin Page</a></li>
        }
        @if (Model.HomeViewModel.HasAccessTo("PELI"))
        {
            <li><a href="~/PELIAdmin/">Preferences for Everyday Living Inventory Admin Page</a></li>
        }
    </ul>
</div>