@model AtriumWebApp.Web.ClinicalOps.Models.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Financial";
}
<script>
    $(document).ready(function () {
        $("a").live('click', function () {
            window.ShowProgress();
        });
    })
</script>

<table id="homeButtonTable">
    <tr>
        @if (Model.HasAccessTo("ADR"))
        {
            <td>
                <a href="~/AdditionalDevelopmentRequest/" id="ADRLink">
                    <p>ADR</p>
                </a>
            </td>
        }
        @if (Model.HasAccessTo("POR"))
        {
            <td>
                <a href="~/PurchaseOrder/" id="PORLink">
                    <p>Purchase Order</p>
                </a>
            </td>
        }
    </tr>
    <tr>
        @if (Model.HasAccessTo("CON"))
        {
            <td>
                <a href="~/ContractManagement/" id="CONLink">
                    <p>Contract Management</p>
                </a>
            </td>
        }
        @if (Model.HasAccessTo("WO"))
        {
            <td>
                <a href="~/WriteOff/" id="WOLink">
                    <p>Write Off</p>
                </a>
            </td>
        }
    </tr>
</table>