@model VaccinationTBInitial2StepViewModel
@{
    var tbSite = new SelectList((List<VaccineTBSite>
    )ViewData["TBSite"], "VaccineTBSiteId", "SiteName");
    var tbMeasurement = new SelectList((List<VaccineTBReactionMeasurement>
        )ViewData["TBMeasurement"], "VaccineTBReactionMeasurementId", "Description");
}
<div align="center" class="container-fluid" style="min-width:480px;">
    <h2 class="margin_separator">TB Initial 2-Step Vaccination</h2>

    <form method="post" id="saveTB2StepVaccine" asp-controller="Vaccination" asp-action="SaveTBInitial2StepVaccine">
        <input type="hidden" asp-for="CurrentPayerId" />
        <input type="hidden" asp-for="PersonId" />
        <input type="hidden" asp-for="RoomId" />
        <input type="hidden" asp-for="VaccineId" />
        <input type="hidden" asp-for="VaccineTypeId" />
        <input type="hidden" asp-for="IsEmployee" data-rule-items_required="true" />
        <hr />
        @if (!Model.IsEmployee)
        {
            <div class="row">
                <div class="col-sm-5 text-right">
                    Consent Signed:
                </div>
                <div class="col-sm-1 text-left">
                    <input asp-for="ConsentSignedFlg" />
                    <span asp-validation-for="ConsentSignedFlg" class="text-warning"></span>
                </div>
            </div>
                <hr />
        }
        <div class="row">
            <div class="col-sm-5 text-right">
                <span class="bold">PPD Step 1</span>
            </div>
        </div>
        <div id="PPDSection">
            <div class="row">
                <div class="col-sm-5 text-right">
                    Given Date:
                </div>
                <div class="col-sm-6 text-left">
                    <input asp-for="VaccineDate" asp-format="{0:d}" type="text" data-rule-no_future_date="true" class="isDate" />
                    <br />
                    <span asp-validation-for="VaccineDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 text-right">
                    Site:
                </div>
                <div class="col-sm-6 text-left">
                    <select asp-for="PPDStep1SiteId" asp-items="tbSite">
                        <option value="" selected="selected">Select a Site</option>
                    </select>
                    <br />
                    <span asp-validation-for="PPDStep1SiteId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 text-right">
                    Read Date:
                </div>
                <div class="col-sm-6 text-left">
                    <input asp-for="PPDStep1ReadDate" class=" isDate" asp-format="{0:d}" type="text" PPD1_ReadDateValidation="true" data-rule-no_future_date="true" />
                    <br />
                    <span asp-validation-for="PPDStep1ReadDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 text-right">
                    Reaction:
                </div>
                <div class="col-sm-6 text-left">
                    <input asp-for="PPDStep1ReactionFlg" />
                    <br />
                    <span asp-validation-for="PPDStep1ReactionFlg" class="text-danger"></span>
                </div>
            </div>
            <div class="row reaction">
                <div class="col-sm-5 text-right">
                    Measurement:
                </div>
                <div class="col-sm-6 text-left">
                    <select asp-for="PPDStep1ReactionMeasurementId" asp-items="tbMeasurement">
                        <option value="" selected="selected">Select a Measurement</option>
                    </select>
                    <br />
                    <span asp-validation-for="PPDStep1ReactionMeasurementId" class="text-danger"></span>
                </div>
            </div>
            @if (!Model.IsEmployee)
            {
                <div class="row">
                    <div class="col-sm-5 text-right">
                        Lot #:
                    </div>
                    <div class="col-sm-6 text-left">
                        <input asp-for="LotNumber" />
                        <br />
                        <span asp-validation-for="LotNumber"></span>
                    </div>
                </div>
            }
        </div>
        <hr />
        <div id="PPD2Section">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <span class="bold">PPD Step 2</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 text-right">
                    Given Date:
                </div>
                <div class="col-sm-6 text-left">
                    <input asp-for="PPDStep2GivenDate" asp-format="{0:d}" type="text" data-rule-no_future_date="true" class="isDate" />
                    <br />
                    <span asp-validation-for="PPDStep2GivenDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 text-right">
                    Site:
                </div>
                <div class="col-sm-6 text-left">
                    <select asp-for="PPDStep2SiteId" asp-items="tbSite">
                        <option value="" selected="selected">Select a Site</option>
                    </select>
                    <br />
                    <span asp-validation-for="PPDStep2SiteId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 text-right">
                    Read Date:
                </div>
                <div class="col-sm-6 text-left">
                    <input asp-for="PPDStep2ReadDate" class="isDate" asp-format="{0:d}" type="text" PPD2_ReadDateValidation="true" data-rule-no_future_date="true" />
                    <br />
                    <span asp-validation-for="PPDStep2ReadDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 text-right">
                    Reaction:
                </div>
                <div class="col-sm-6 text-left">
                    <input asp-for="PPDStep2ReactionFlg" />
                    <br />
                    <span asp-validation-for="PPDStep2ReactionFlg" class="text-danger"></span>
                </div>
            </div>
            <div class="row reaction2">
                <div class="col-sm-5 text-right">
                    Measurement:
                </div>
                <div class="col-sm-6 text-left">
                    <select asp-for="PPDStep2ReactionMeasurementId" asp-items="tbMeasurement">
                        <option value="" selected="selected">Select a Measurement</option>
                    </select>
                    <br />
                    <span asp-validation-for="PPDStep2ReactionMeasurementId" class="text-danger"></span>
                </div>
            </div>
            @if (!Model.IsEmployee)
            {
                <div class="row">
                    <div class="col-sm-5 text-right">
                        Lot #:
                    </div>
                    <div class="col-sm-6 text-left">
                        <input asp-for="PPDStep2LotNumber" />
                        <br />
                        <span asp-validation-for="PPDStep2LotNumber"></span>
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-5 text-right">
                Chest X-Ray:
            </div>
            <div class="col-sm-2 text-left">
                <input type="radio" asp-for="ChestXRayFlg" value="true" /> Yes
            </div>
            <div class="col-sm-2 text-left">
                <input type="radio" asp-for="ChestXRayFlg" value="false" /> No
            </div>
            @if (Model.ChestXRayFlg == null)
            {
                <div class="col-sm-2 text-left">
                    <input type="radio" asp-for="ChestXRayFlg" value="" checked="checked" />N/A
                </div>
            }
            else
            {
                <div class="col-sm-2 text-left">
                    <input type="radio" asp-for="ChestXRayFlg" value="" />N/A
                </div>
            }

        </div>
        <div class="row" style="display:none;" id="xRaySection">
            <div class="col-sm-5 text-right">
                Date Taken:
            </div>
            <div class="col-sm-6 text-left">
                <input asp-for="ChestXRayDate" asp-format="{0:d}" type="text" data-rule-no_future_date="true" class="isDate" />
                <br />
                <span asp-validation-for="ChestXRayDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row questionnaire" style="display:none;" id="questionaireSection">
            <div class="col-sm-5 text-right">
                Questionaire Complete:
            </div>
            <div class="col-sm-1 text-left">
                <input asp-for="QuestionnaireCompleteFlg" />
                <br />
                <span asp-validation-for="QuestionnaireCompleteFlg" class="text-danger"></span>
            </div>
            <div class="col-sm-3 text-left">
                <input asp-for="QuestionnaireCompleteDate" asp-format="{0:d}" type="text" data-rule-no_future_date="true" class="isDate" />
                <br />
                <span asp-validation-for="QuestionnaireCompleteDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row" id="BMATSection">
            <div class="col-sm-5 text-right">
                BMAT:
            </div>
            <div class="col-sm-1 text-left">
                <input asp-for="BMATFlg" />
                <br />
                <span asp-validation-for="BMATFlg" class="text-danger"></span>
            </div>
            <div class="col-sm-3 text-left">
                <input asp-for="BMATDate" asp-format="{0:d}" type="text" data-rule-no_future_date="true" class="isDate" />
                <br />
                <span asp-validation-for="BMATDate" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12 text-center">
                <span asp-validation-for="IsEmployee" class="text-danger"></span>
                <br />
                <input type="submit" id="saveVaccine" value="Save" />
            </div>

        </div>
    </form>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<environment names="Development">
    <script src="~/js/AdditionalValidation.js" asp-append-version="true"></script>
    <script src="~/js/Vaccination/Initial2Step.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/AdditionalValidation.min.js" asp-append-version="true"></script>
    <script src="~/js/Vaccination/Initial2Step.min.js" asp-append-version="true"></script>
</environment>
