@model PatientIncidentEventViewModel

@{
    var incidentTypes = new SelectList((List<PatientIncidentType>)ViewData["IncidentTypes"], "PatientIncidentTypeId", "PatientIncidentName");
    var locations = new SelectList((List<PatientIncidentLocation>)ViewData["Locations"], "PatientIncidentLocationId", "PatientIncidentLocationName");
    var nurses = new SelectList(((List<Employee>)ViewData["Nurses"]).OrderBy(a => a.LastName).Select(a => new SelectListItem()
    {
        Text = a.LastName + ", " + a.FirstName,
        Value = a.EmployeeId.ToString()
    }), "Value", "Text");
    ;
}
<div class="container-fluid">
    <form asp-action="SaveIncident" asp-controller="IncidentTracking" id="saveIncidentForm" enctype="multipart/form-data">

        <input type="hidden" asp-for="Event.CurrentPayerId" />
        <input type="hidden" asp-for="Event.PatientId" />
        <input type="hidden" asp-for="Event.PatientIncidentEventId" />
        <input type="hidden" asp-for="Event.RoomId" />
        <div class="row">
            <div class="col-sm-3 text-left">
                Date of Incident:
            </div>
            <div class="col-sm-3 text-left">
                <input type="text" asp-for="Event.IncidentDateTime" class="isDateTime" asp-format="{0:MM/dd/yyyy hh:mm tt}" data-rule-no_future_datetime="true" />
                <br />
                <span asp-validation-for="Event.IncidentDateTime" class="text-danger"></span>
            </div>
            <div class="col-sm-3 text-left">
                <label>Physician Notified:</label>
            </div>
            <div class="col-sm-3 text-left">
                <input asp-for="Event.PhysicianNotifiedFlg" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-6 col-sm-3 text-left">
                <label>Family Notified:</label>
            </div>
            <div class="col-sm-3 text-left">
                <input asp-for="Event.FamilyNotifiedFlg" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-left">
                Type of Incident:
            </div>
            <div class="col-sm-3 text-left">
                <select asp-for="Event.PatientIncidentTypeId" asp-items="incidentTypes">
                    <option value="" selected>Select an Incident Type</option>
                </select>
                <br />
                <span asp-validation-for="Event.PatientIncidentTypeId" class="text-danger"></span>
            </div>
            <div class="col-sm-3 text-left">
                <label>Reported to State:</label>
            </div>
            <div class="col-sm-3 text-left">
                <input asp-for="Event.ReportedToStateFlg" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-left">
                Location:
            </div>
            <div class="col-sm-3 text-left">
                <select asp-for="Event.PatientIncidentLocationId" asp-items="locations">
                    <option value="" selected>Select a Location</option>
                </select>
                <br />
                <span asp-validation-for="Event.PatientIncidentLocationId" class="text-danger"></span>
            </div>
            <div class="col-sm-3 text-left reportedState" style="display:none">
                Date Reported:
            </div>
            <div class="col-sm-3 text-left reportedState" style="display:none">
                <input asp-for="Event.ReportedToStateDateTime" type="text" class="isDateTime" asp-format="{0:MM/dd/yyyy hh:mm tt}" />
                <span asp-validation-for="Event.ReportedToStateDateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Incident Details (1024 max):
            </div>
            <div class="col-sm-3">
                Comments (1024 max):
            </div>
            <div class="col-sm-3 text-left">
                <label>State in Building</label>
            </div>
            <div class="col-sm-3 text-left">
                <input asp-for="Event.StateInBuildingFlg" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <textarea asp-for="Event.IncidentDetails" cols="28" rows="6"></textarea>
                <br />
                <span asp-validation-for="Event.IncidentDetails" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
                <textarea asp-for="Event.Comments" cols="28" rows="6"></textarea>
                <br />
                <span asp-validation-for="Event.Comments" class="text-danger"></span>
            </div>
            <div class="col-sm-3 text-left inBuildingDate" style="display:none;">
                Date:
            </div>
            <div class="col-sm-3 text-left inBuildingDate" style="display:none;">
                <input type="text" asp-for="Event.StateInBuildingDate" class="isDate" asp-format="{0:d}" />
                <br />
                <span asp-validation-for="Event.StateInBuildingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-6 text-left">
                <label>Regional Nurse Closed:</label>
            </div>
            <div class="col-sm-3">
                <input asp-for="Event.RegionalNurseClosedFlg" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9 text-left regionSelected" style="display:none;">
                <select asp-for="Event.RegionalNurseEmployeeId" asp-items="nurses">
                    <option value="" selected>Select a Regional Nurse</option>
                </select>
                <br />
                <span asp-validation-for="Event.RegionalNurseEmployeeId" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type="hidden" name="interventions" data-rule-intervention_required="true" />
                <span class="text-danger field-validation-valid" data-valmsg-for="interventions" data-valmsg-replace="true"></span>
                <table id="interventionTable">
                    <thead>
                        <tr>
                            <th>
                                Intervention
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.InterventionList.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Model.InterventionList[i].Type.PatientIncidentInterventionName
                                </td>
                                <td>
                                    <input asp-for="InterventionList[i].Selected" />
                                    <input type="hidden" asp-for="InterventionList[i].Type.PatientIncidentInterventionId" />
                                    <input type="hidden" asp-for="InterventionList[i].Type.PatientIncidentInterventionName" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <input type="hidden" name="treatments" data-rule-treatment_required="true" />
                <span class="text-danger field-validation-valid" data-valmsg-for="treatments" data-valmsg-replace="true"></span>
                <table id="treatmentTable">
                    <thead>
                        <tr>
                            <th>
                                Treatment
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.TreatmentList.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Model.TreatmentList[i].Type.PatientIncidentTreatmentName
                                </td>
                                <td>
                                    <input asp-for="TreatmentList[i].Selected" />
                                    <input type="hidden" asp-for="TreatmentList[i].Type.PatientIncidentTreatmentId" />
                                    <input type="hidden" asp-for="TreatmentList[i].Type.PatientIncidentTreatmentName" />
                                </td>
                            </tr>}
                    </tbody>
                </table>
            </div>

        </div>
    </form>
    <form method="post" id="SaveDocuments" asp-controller="IncidentTracking" asp-action="SaveDocuments" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-3 bold">
                Documents
            </div>
            <div class="col-sm-4">
                <input type="button" id="addDocument" value="Add" />
            </div>
        </div>
        <div class="row" id="documentSection" style="border:1px solid black;padding:15px;">
            <div id="incidentDocuments">

                @if (Model.Event.Documents != null && Model.Event.Documents.Count > 0)
                {
                    foreach (DocumentViewModel document in Model.Event.Documents)
                    {
                        <div>
                            @Html.EditorFor(a => document)
                        </div>
                    }

                }
            </div>
        </div>

    </form>
    <div class="row">
        <div class="col-sm-offset-4">
            <input type="submit" value="Save" id="saveIncident" />
            <input type="button" value="Clear" id="clearIncident" />
        </div>

    </div>
</div>



<link href="~/lib/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
<script src="~/lib/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<environment names="Development">
    <script src="~/js/AdditionalValidation.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/AdditionalValidation.min.js" asp-append-version="true"></script>
</environment>
