@model AtriumWebApp.Models.ViewModel.EmployeeSidebarViewModel
@{
    var facilities = new SelectList(Model.FacilityList, "CommunityId", "CommunityShortName");
    var residents = new SelectList(Model.EmployeeList.OrderBy(a => a.LastName).Select(a => new SelectListItem()
    {
        Text = a.LastName + ", " + a.FirstName,
        Value = a.EmployeeId.ToString()
    }), "Value", "Text");
}

<section class="left-column-picker" style="height: 470px">
    <form id="SideDDL">
        @for (int i = 0; i < Model.FacilityList.Count; i++)
        {
            <input type="hidden" asp-for="FacilityList[i].CommunityId" />
            <input type="hidden" asp-for="FacilityList[i].CommunityShortName" />
        }
        <input type="hidden" asp-for="ForTerminatedEmployees" />
        @if (Model.SelectedEmployee != null)
        {
            <input type="hidden" value="@Model.SelectedEmployee.EmployeeId" id="CurrentEmployeeId" />
        }
        
        <input type="hidden" asp-for="SelectedCommunity.CommunityShortName" />

        <label>Show Active Employees: <input asp-for="ShowTerminatedEmployees" id="ShowTerminatedEmployees" /></label>
        <br />
        <div>
            <label>Termination Date:</label>
            <input asp-for="LookbackDate" value="@(Model.LookbackDate.ToString("d"))" class="dateUS isDate" size="10" id="LookbackDate" />
            <span asp-validation-for="LookbackDate" class="text-danger"></span>
            <input type="hidden" asp-for="RedirectUrl" id="redirectUrl" />
            <input type="button" value="Update" id="lookbackUpdate" />
        </div>
        <label>Community:</label>
        <br />
        <select asp-items="facilities" id="Communities" asp-for="SelectedCommunity.CommunityId"></select>
        <br />
        <br />
        <label>Employee:</label>
        <br />
        <select asp-items="residents" id="Residents" asp-for="SelectedEmployee.EmployeeId">
            <option value="" disabled selected>Select an Employee</option>
        </select>
        <br />
    </form>

    <input type="hidden" asp-for="SelectedEmployee.EmployeeId" />
    <div id="selectedEmployeeView">
        <br />
        <div style="color: red; font-weight: bold;">Please choose an Employee</div>
    </div>
</section>

<script>
    $("#ShowTerminatedEmplyees").on("click", function () {
        $(".terminated").toggle($(this).is(":checked"));

    });
    $("#LookbackDate").datepicker();
    $(".terminated").toggle($("#ShowTerminatedEmplyees").is(":checked"));
</script>

