@model AtriumWebApp.Models.ViewModel.SideBarViewModel
@{
    var facilities = new SelectList(Model.FacilityList, "CommunityId", "CommunityShortName");
    var residents = new SelectList(Model.ResidentList.OrderBy(a => a.LastName).Select(a => new SelectListItem()
    {
        Text = a.LastName + ", " + a.FirstName,
        Value = a.PatientId.ToString()
    }), "Value", "Text");
}

<section class="left-column-picker" style="height: 470px">
    <form id="SideDDL">
        @for (int i = 0; i < Model.FacilityList.Count; i++)
        {
            <input type="hidden" asp-for="FacilityList[i].CommunityId" />
            <input type="hidden" asp-for="FacilityList[i].CommunityShortName" />
        }
        <input type="hidden" asp-for="CensusDateInvalid" />
        <input type="hidden" asp-for="CensusDateInFuture" />
        @if (Model.SelectedResident != null)
        {
            <input type="hidden" value="@Model.SelectedResident.PatientId" id="CurrentResidentId" />
        }
        
        <input type="hidden" asp-for="SelectedCommunity.CommunityShortName" />

        <label>Last Census Date:</label>
        <br />
        <input asp-for="LookbackDate" value="@(Model.LookbackDate.ToString("d"))" class="dateUS isDate" size="10" id="LookbackDate" />
        <input type="hidden" asp-for="RedirectUrl" id="redirectUrl" />
        <input type="button" value="Update" id="lookbackUpdate"/>

        <label>Community:</label>
        <br />
        <select asp-items="facilities" id="Communities" asp-for="SelectedCommunity.CommunityId"></select>
        <br />
        <br />
        <label>Resident:</label>
        <br />
        <select asp-items="residents" id="Residents" asp-for="SelectedResident.PatientId">
            <option value="" disabled selected>Select a Resident</option>
        </select>
        <br />
    </form>

    <input type="hidden" asp-for="SelectedResident.PatientId" />
    <div id="selectedResidentView">
        <br />
        <div style="color: red; font-weight: bold;">Please choose a Resident</div>
    </div>
</section>

