@model EditEquipmentInspectionViewModel

<form asp-action="SaveInspection" method="post" enctype="multipart/form-data" asp-controller="EquipmentManagement" id="saveInspectionForm">
    <input type="hidden" asp-for="Inspection.EquipmentInspectionId" />
    <input type="hidden" asp-for="Inspection.EquipmentMaintenancePlanId" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Equipment Inspection</h2>
            </div>
        </div>
        <hr />
        <div class="row" style="display:none;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-2">
                <label asp-for="Inspection.EquipmentInspectionId"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Inspection.EquipmentInspectionId" class="form-control" />
                <span asp-validation-for="Inspection.EquipmentInspectionId" class="text-danger"></span>
            </div>
            <div class="col-sm-2">
                <label asp-for="Inspection.EquipmentMaintenancePlanId"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Inspection.EquipmentMaintenancePlanId" class="form-control" />
                <span asp-validation-for="Inspection.EquipmentMaintenancePlanId" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label asp-for="Inspection.InspectionVendorId"></label>
            </div>
            <div class="col-sm-4">
                <select id="vendorDropDown" asp-items="ViewBag.Vendors" data-rule-either-or="#inspectedBy" asp-for="Inspection.InspectionVendorId">
                    <option value="" selected="selected">No Vendor</option>
                </select>
                <span asp-validation-for="Inspection.InspectionVendorId" class="text-danger"></span>
            </div>
            <div class="col-sm-2">
                <label asp-for="Inspection.InspectedByName"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Inspection.InspectedByName" data-rule-either-or="#vendorDropDown" id="inspectedBy" class="form-control" />
                <span asp-validation-for="Inspection.InspectedByName" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                <label asp-for="Inspection.Notes"></label>
            </div>
            <div class="col-sm-10">
                <textarea asp-for="Inspection.Notes" class="form-control"></textarea>
                <span asp-validation-for="Inspection.Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label asp-for="Inspection.InspectionDate"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Inspection.InspectionDate" class="form-control date-picker" type="text" asp-format="{0:MM/dd/yyyy}" />
                <span asp-validation-for="Inspection.InspectionDate" class="text-danger"></span>
            </div>
            <div class="col-sm-2">
                <label asp-for="Inspection.PassFlg"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Inspection.PassFlg" />
                <span asp-validation-for="Inspection.PassFlg" class="text-danger"></span>
            </div>
        </div>
        
        <div class="row">
            <h3 style="display:inline-block">Supporting Documents</h3>
            <input type="button" value="Add Document" id="addDocument" style="display:inline-block"/>
        </div>
        @{ 
            var index = 0;
        }
        <div id="documentSection">
            @foreach (var document in Model.Documents)
            {
                @Html.EditorFor(d => document, new { index = index })
                index++;
            }
        </div>
    </div>
    <input type="submit" id="saveInspection" value="Save" />
</form>
<script src="~/lib/chosen/chosen.jquery.js"></script>
<link href="~/lib/chosen/chosen.css" rel="stylesheet" />
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $("#vendorDropDown").chosen({
        no_results_text: "no matches found!",
        width: "200px",
        height: "100px"

    });
    $.validator.addMethod("either-or", function (value, element, selector) {
        if (value == "" && $(selector).val() == "")
        {
            return false;
        }
        else {
            return true;

        }
    }, "Inspected By must be filled out or a Vendor must be selected.");
    $(".date-picker").datepicker({
        onSelect: function () {
            //ie fix for date picker re-opening after selection in modal windows
            $(this).parent().focus();
        }
    });
    $.validator.setDefaults({ ignore: [] });
    $("#saveInspectionForm").removeData("validator");
    $("#saveInspectionForm").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#saveInspectionForm"));
    $("#saveInspectionForm").validate();
</script>