@model EditEquipmentRepairViewModel


<form asp-action="SaveRepair" method="post" enctype="multipart/form-data" asp-controller="EquipmentManagement" id="saveRepairForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Equipment Repair</h2>
            </div>
        </div>

        <hr />
        <div class="row" style="display:none;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-2">
                <label asp-for="Repair.EquipmentId"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Repair.EquipmentId" class="form-control" />
                <span asp-validation-for="Repair.EquipmentId" class="text-danger"></span>
            </div>
            <div class="col-sm-2">
                <label asp-for="Repair.EquipmentRepairId"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Repair.EquipmentRepairId" class="form-control" />
                <span asp-validation-for="Repair.EquipmentRepairId" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Repair.Notes"></label>
            </div>
            <div class="col-sm-9">
                <textarea asp-for="Repair.Notes" class="form-control"></textarea>
                <span asp-validation-for="Repair.Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label asp-for="Repair.RepairCostAmt"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Repair.RepairCostAmt" class="form-control" />
                <span asp-validation-for="Repair.RepairCostAmt" class="text-danger"></span>
            </div>
            <div class="col-sm-2">
                <label asp-for="Repair.RepairDate"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Repair.RepairDate" class="form-control date-picker" type="text" asp-format="{0:MM/dd/yyyy}" />
                <span asp-validation-for="Repair.RepairDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label asp-for="Repair.RepairVendorId"></label>
            </div>
            <div class="col-sm-4">
                <select id="vendorDropDown" asp-items="ViewBag.Vendors" data-rule-either-or="#repairedBy" asp-for="Repair.RepairVendorId">
                    <option value="" selected="selected">No Vendor</option>
                </select>
                <span asp-validation-for="Repair.RepairVendorId" class="text-danger"></span>
            </div>
            <div class="col-sm-2">
                <label asp-for="Repair.RepairByName"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Repair.RepairByName" class="form-control" id="repairedBy" data-rule-either-or="#vendorDropDown" />
                <span asp-validation-for="Repair.RepairByName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <h3 style="display:inline-block">Supporting Documents</h3>
            <br />
            <input type="button" value="Add Document" id="addDocument" style="display:inline-block" />
        </div>
        @{
            var index = 0;
        }
        <div id="documentSection">
            @foreach (var document in Model.Documents)
            {
                @Html.EditorFor(d => document, new { index = index })
                index++;
            }
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input id="repairSubmit" type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<script src="~/lib/chosen/chosen.jquery.js"></script>
<link href="~/lib/chosen/chosen.css" rel="stylesheet" />
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $(".date-picker").datepicker({
        onSelect: function () {
            //ie fix for date picker re-opening after selection in modal windows
            $(this).parent().focus();
        }
    });
    $("#redirectUrl").val(location.href);
    $.validator.addMethod("either-or", function (value, element, selector) {
        if (value == "" && $(selector).val() == "") {
            return false;
        }
        else {
            return true;

        }
    }, "Repaired By must be filled out or a Vendor must be selected.");
    $("#vendorDropDown").chosen({
        no_results_text: "no matches found!",
        width: "200px",
        height: "100px"

    });
    $.validator.setDefaults({ ignore: [] });
    $("#saveRepairForm").removeData("validator");
    $("#saveRepairForm").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#saveRepairForm"));
    $("#saveRepairForm").validate();

</script>