@model AtriumWebApp.Web.PayrollTransfer.Models.ViewModel.PayrollTransferIndexViewModel
@using AtriumWebApp.Web.Base.Library
<section id="workersCompSideBar">
    @using (Html.BeginForm("SideDDL", "AdditionalDevelopmentRequest", FormMethod.Post, new { id = "SideDDL" }))
    {
        @Html.Label("Community:")<br />
        @Html.DropDownList("Communities", new SelectList(Model.Communities, "CommunityId", "CommunityShortName"), "Select a Community", new { id = "Communities" })
        //new SelectList(Model.Communities, "CommunityId", "CommunityShortName", Model.DestinationCommunity), "Select a Community"
        @Html.Hidden("returnUrl", Context.UrlPath());
    }
    @{ 
        string currentFacility;
        Context.Session.TryGetObject("PRTRCurrentFacility", out currentFacility);
    }
    @Html.Hidden("CurrentCommunity", currentFacility, new { @class = "CurrentCommunity" })
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            if ($("#CensusDateInvalid").val() == "1") {
                alert("Error: Please enter a valid Last Census Date (mm/dd/yyyy)");
            }
            if ($("#CensusDateInFuture").val() == "1") {
                alert("Error: You can not have a Census date that is in the future");
            }
        });

        var currentCommunity = $("#CurrentCommunity").val();
        $("#Communities").val(currentCommunity);

        $("#Communities").change(function () {
            var facility = $("#Communities option:selected").val();
            $("#CurrentCommunity").val(facility);
            if (facility != "") {
                //$("#SideDDL").submit();
            }
        });
    });
</script>

