@model AtriumWebApp.Web.PayrollTransfer.Models.ViewModel.PayrollTransferIndexViewModel
<div class="a-center">
    <p class="button">
        @Html.ActionLink("Create a Payroll Transfer Entry", "Create")
    </p>
</div>

<p></p>
