@using AtriumWebApp.Web.PayrollTransfer.Models.ViewModel
@model PayrollTransferViewModel

@{
    ViewBag.Title = "Payroll Transfer Entry";
}
<style>
    .largeFaButton {
        font-size: xx-large;
        margin: 10px;
    }

        .largeFaButton:hover {
            cursor: pointer;
        }

    .delete {
        color: red;
    }

    .edit {
        color: green;
    }
    .isDirty {
        background-color: lightgoldenrodyellow;
    }
</style>
<h2 style="display:inline-block">Payroll Transfer Entry</h2>
@Html.Partial("~/Views/Partial/SideBarSelectionEmployee.cshtml", new EmployeeSidebarViewModel { AppCode = "PRTR", AppController = "PayrollTransfer", ChangeCommunityPath = Url.BaseUrlPath() + "PayrollTransfer/GetEmployeeList", SideBarDDLActionName = "EmpSideDDL" })
<div style="margin-left:220px;" class="isDirty">Note: Entries highlighted have been modified but not yet saved.</div>
<div style="margin-left:220px;">
    <div class="third-spacing a-right">
        <button type="button" id="AddTransferItem" disabled class="action-button">Save + Add Entry</button>
    </div>
    <div class="third-spacing a-center">
        <button type="button" id="savePayrollTransfer" disabled class="action-button">Save + Close</button>
    </div>
    <div class="third-spacing a-left">
        <button type="button" id="cancel-button" class="action-button"> Cancel </button>
        @Html.ActionLink("Back to List", "Index", null, null, new { @id = "returnUrl", style = "display:none" })
    </div>
</div>
<div id="payroll-transfer-section">

</div>


<environment names="Development">
    <script src="~/js/CreatePayrollTransfer.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/CreatePayrollTransfer.min.js" asp-append-version="true"></script>
</environment>
