@model AtriumWebApp.Web.PayrollTransfer.Models.ViewModel.PayrollTransferViewModel

@*@{
    ViewBag.Title = "Delete";
}*@

<h2>Delete Payroll Transfer Entry</h2>

<h3>Are you sure you want to delete this?</h3>

<fieldset>
    @Html.DisplayForModel()
        <div class="half-spacing a-right">
            <button id="deletePayrollTransfer" type="button" class="action-button" value="Delete">Delete</button>
        </div>
        <div class="half-spacing a-left">
            <button type="button" id="cancel-button" class="action-button"> Cancel </button>
            @Html.ActionLink("Back to List", "Index", null, new { @id = "returnUrl", style = "display:none" })
        </div>
</fieldset>