@model AtriumWebApp.Web.PayrollTransfer.Models.ViewModel.ContractorPayrollEntryViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Payroll Transfer Entry</h2>

<h3>Are you sure you want to delete this?</h3>

<fieldset>
    @Html.DisplayForModel()

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="half-spacing a-right">
            <button type="button" id="deletePayrollTransfer" class="action-button">Delete</button>
            @*<input type="submit" value="Delete" />*@
        </div>
        <div class="half-spacing a-left">
            <button type="button" id="cancel-button" class="action-button"> Cancel </button>
            @Html.ActionLink("Back to List", "Index", null, new { @id = "returnUrl", style = "display:none" })
        </div>
    }
</fieldset>
<script>
    $(document).ready(function () {
        var returnUrl;
        if ($("#returnUrl").attr("href").charAt($("#returnUrl").attr("href").length - 1) != "/") {
            returnUrl = $("#returnUrl").attr("href") + "/";
        } else {
            returnUrl = $("#returnUrl").attr("href");
        }

        //If you click home link or admin link, reset tab flags
        $("a.home-link").click(function (e) {
            $.ajax({
                url: returnUrl + "ClearTabVariables",
                cache: false,
                type: "POST"
            });
        });

        if ($("#Id").val() != "") {

            //initialize values
            $("#ActiveEmployees").val($("#ContractorId").val());
            $("#SourceCommunity").val($("#SourceCommunityId").val());
            $("#SourceGLAccount").val($("#SourceGeneralLedgerId").val());
            //$("#TransferDate").val();
            //$("#DestinationGLAccount").val($("#DestinationGeneralLedgerId").val());
            //$("#DestinationCommunity").val($("#DestinationCommunityId").val());

        }

        $("#deletePayrollTransfer").click(function (e) {
            var pti = $($("fieldset").children(".contractor-payroll-item")[0]);
            ShowProgress();
            var postUrl = $(e.target).parents("form")[0].action
            //verify values



            //submit
            $.ajax({
                url: postUrl,//"EditContractorEntry",
                dataType: "json",
                //contentType: "application/json",
                cache: false,
                type: "POST",
                data: {
                    id: pti.find("#Id").val()
                },
                success: function (result) {
                    alert("Successfully Deleted.");
                    window.location.assign(returnUrl);
                },
                error: function (data, error, errortext) {
                    alert("Delete failed. Please verify your entries and try again");
                    HideProgress();
                }
            });
        });

        $("#cancel-button").click(function (e) {
            e.preventDefault();
            window.location.assign(returnUrl);
        });
    });
</script>