@model List<AtriumWebApp.Models.Budget.GLAccountType>

<div id="btEditor">
    <div style="border:solid thin black">
        <div style="display:inline-block" id="btEditSection">
            
            @*@foreach (var generalLedger in Model.GeneralLedgers)
            {
                @Html.EditorFor(a => generalLedger, "", "", new { LaborGLGroups = laborGLGroups, AccountTypes = accountTypes, PayGrpCds = payGrpCds })
            }*@
        </div>
    </div>
    <div class="recordSelection">
        Record: <i class="fa fa-fast-backward selector" id="budgetTypeFirst"></i>
        <i class="fa fa-backward selector" aria-hidden="true" id="budgetTypeBack"></i>
        <input id="budgetTypeSelector" />
        <i class="fa fa-forward selector" aria-hidden="true" id="budgetTypeForward"></i>
        <i class="fa fa-fast-forward selector" aria-hidden="true" id="budgetTypeLast"></i>
        <i class="fa fa-plus selector" aria-hidden="true" id="newbudgetType" style="color:green"></i>
        <i class="fa fa-times selector" aria-hidden="true" id="deletebudgetType" style="color:red;"></i>
        <select id="selectedbudgetType">
            @for (int i = 0; i < Model.Count; i++)
            {
                var pt = Model[i];
                @:<option value="@pt.GLAccountTypeID" rowNum="@(i + 1)">@pt.GLAccountTypeNm</option>
            }
        </select>
    </div>
</div>
