@model AtriumWebApp.Models.Budget.GLAccountType
<form id="editBT" asp-action="SaveBT" asp-controller="AdminBudget">
    <table>
        <tr>
            <td>
                Budget Type ID:
            </td>
            <td>
                    <input asp-for="GLAccountTypeID" disabled="disabled" />
                    <input asp-for="GLAccountTypeID" hidden="hidden" />
                <br />
                <span asp-validation-for="GLAccountTypeID"></span>
            </td>
        </tr>
        <tr>
            <td>
                Budget Type Name:
            </td>
            <td>
                <input asp-for="GLAccountTypeNm" />
                <br />
                <span asp-validation-for="GLAccountTypeNm"></span>
            </td>
        </tr>
    </table>
</form>
<script>

    $("#editBT").on("change", "input, select", function () {
        var form = $(this).closest("form");
        var url = form.attr("action");
        if (form.valid()) {
            $.post(url, form.serialize(), function (data) {
                if (data.Success) {
                    if (data.Type == "new") {
                        $("#btDialog").dialog("close");
                        $("#adminBT").click();
                    }
                } else {
                    alert(data.Message);
                }
            }).fail(function () {
                alert("Server is not responding, please try again.");
            });
        }
    });

    $.validator.setDefaults({ ignore: [] });
    $("#editBT").removeData("validator");
    $("#editBT").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#editBT"));
    $("#editBT").validate();
</script>
