@model EquipmentManagementViewModel

@{
    ViewData["Title"] = "Maintenance Management";
}
<span>
    <label>Community:</label>
    <select id="communitySelector" asp-items="Model.Communities"></select>
</span>
<br />
@Html.ActionLink("Add Equipment", "EditEquipment", new { }, new { id = "addEquipment" })

<div id="detailsSection">

</div>

<div class="tabs" style="min-height:600px">
    <ul>
        <li>
            <a href="#equipmentTab">Equipment</a>
        </li>
        <li>
            <a href="#upcomingTab">Upcoming Inspections</a>
        </li>
        <li>
            <a href="#pastDueTab">Past Due Inspections</a>
        </li>
    </ul>
    <div id="equipmentTab">

    </div>
    <div id="upcomingTab">

    </div>
    <div id="pastDueTab">

    </div>
</div>
<div style="display:none">
    <div id="modal">

    </div>
</div>

<script src="~/lib/jquery-form/dist/jquery.form.min.js"></script>

<environment names="Development">
    <script src="~/js/EquipmentManagement.js" asp-append-version="true"></script>
</environment>

<environment names="Testing,Production,Training">
    <script src="~/js/EquipmentManagement.min.js" asp-append-version="true" ></script>
</environment>