@model AtriumWebApp.Models.Budget.ViewModels.MainFormViewModel

Other Expense GL Account
<br />
<div id="otherExpenseAccount" style="border:solid thin black;min-height:510px;">
    @{
        var otherExpense = Model.OtherExpenses.Where(a => a.BudgetID == Model.FacilityBudget.BudgetID);
        var otherExpenseLedgers = otherExpense.Select(a => a.GeneralLedger).Distinct().OrderBy(b => b.GLAccountNb).ToList();
    }
    <div id="editOtherExpense">

    </div>


    <div class="recordSelection">
        Record: <i class="fa fa-fast-backward selector" id="otherExpenseFirst"></i>
        <i class="fa fa-backward selector" aria-hidden="true" id="otherExpenseBack"></i>
        <input id="otherExpenseSelector" />
        <i class="fa fa-forward selector" aria-hidden="true" id="otherExpenseForward"></i>
        <i class="fa fa-fast-forward selector" aria-hidden="true" id="otherExpenseLast"></i>
        <i class="fa fa-plus selector" aria-hidden="true" id="newotherExpense" style="color:green"></i>
        <i class="fa fa-times selector" aria-hidden="true" id="deleteotherExpense" style="color:red;"></i>
        <select id="otherExpenseID" class="glDropdown">
            @for (int i = 0; i < otherExpenseLedgers.Count; i++)
            {
                var ledger = otherExpenseLedgers[i];
                @:
                <option value="@ledger.GLAccountIndex" rowNum="@(i + 1)">@ledger.DisplayName</option>
            }
        </select>

    </div>
</div>