@model AtriumWebApp.Models.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Risk Management";
}
<script>
    $(document).ready(function () {
        $("a").on('click', function () {
            window.ShowProgress();
        });
    })
</script>

<table id="homeButtonTable">
    <tr>
        <td>
            @if (Model.HasAccessTo("RMU"))
            {
                <a href="~/RMUnemployment/">
                    <p>Unemployment Claim</p>
                </a>
            }
        </td>
        <td>
            @if (Model.HasAccessTo("RMW"))
            {
                <a href="~/RMWorkerComp/CurrentClaims">
                    <p>Workers Compensation</p>
                </a>
            }
        </td>
    </tr>
    <tr>
        <td>
            @if (Model.HasAccessTo("RMM"))
            {
                <a href="~/RMMedicalRecords/">
                    <p>Medical Records</p>
                </a>
            }
        </td>
        <td></td>
    </tr>
</table>