@model EmployeeVaccinationViewModel
@{
    var vaccines = new SelectList(((List<VaccineType>)ViewData["VaccineTypes"]).Where(a => a.VaccineTypeId != 2).ToList(), "VaccineTypeId", "VaccineTypeName");
    
    
}

<div id="title-div">
    <h2 id="title" style="margin-left: 180px">Employee Vaccinations</h2>
</div>
<div id="content">
    <div class="row">
        <div id="sideBar" class="col-sm-3">

            @Html.EditorFor(m => m.SideBar)
        </div>
        <div class="col-sm-9" style="margin-left:-50px;">
            <div class="row">
                <span class="instruction">Select an Employee to continue...</span>
                <div class="vaccineSelector col-sm-2">Vaccine Type:</div>
                <div class="vaccineSelector col-sm-3">
                    <select asp-items="vaccines" id="vaccineType">
                        <option value="" selected="selected">Select a Vaccine Type</option>
                    </select>
                    <br />
                    <input type="button" value="Create" id="newVaccine" />
                </div>
            </div>
            <div class="row">
                <div id="editForm">

                </div>
            </div>

            <div class="row text-right">
                <label>Occurred Date Range - From: </label>
                <input asp-for="RangeFrom" size="10" id="occurredRangeFrom" class="isDate" />
                <label>To: </label>
                <input asp-for="RangeTo" size="10" id="occuredRangeTo" class="isDate" />
                <input name="submit" type="button" value="Update" id="updateTable" />

            </div>
            <div class="row" id="listing">

            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <div id="modal">

    </div>
</div>
<script src="~/lib/moment/min/moment.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<environment names="Development">
    <script src="~/lib/jquery-form/src/jquery.form.js"></script>
    <script src="~/js/AdditionalValidation.js" asp-append-version="true"></script>
    <script src="~/js/Vaccination/Employee.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/lib/jquery-form/dist/jquery.form.min.js"></script>
    <script src="~/js/AdditionalValidation.min.js" asp-append-version="true"></script>
    <script src="~/js/Vaccination/Employee.min.js" asp-append-version="true"></script>
</environment>
