@model AtriumWebApp.Models.Budget.OtherExpensesGLCalc
<form id="editCalculations" asp-action="SaveOtherCalcs" asp-controller="AdminCalcs">
    <table>
        <tr>
            <td>
                Calc ID
            </td>
            <td>

                    <input asp-for="OtherExpensesCalcID" disabled="disabled" />
                    <input asp-for="OtherExpensesCalcID" hidden="hidden" />
                <br />

            </td>
        </tr>
        <tr>
            <td>
                Calc Name
            </td>
            <td>
                <input asp-for="CalcNm" />
                <br />
                <span asp-validation-for="CalcNm"></span>
            </td>
        </tr>
        <tr>
            <td>
                Calc Code
            </td>
            <td>
                <input asp-for="CalcCd" />
                <br />
                <span asp-validation-for="CalcCd"></span>
            </td>
        </tr>
    </table>
</form>
<script>

    $("#editCalculations").on("change", "input, select", function () {
        var form = $(this).closest("form");
        var url = form.attr("action");
        if (form.valid()) {
            $.post(url, form.serialize(), function (data) {
                if (data.Success) {
                    if ($("#OtherExpensesCalcID").val() == "0") {
                        $("#calculationsDialog").dialog("close");
                        $("#adminExpCalc").click();
                    }
                } else {
                    alert(data.Message);
                }
            }).fail(function () {
                alert("Server is not responding, please try again.");
            });
        }
    });
    $.validator.setDefaults({ ignore: [] });
    $("#editCalculations").removeData("validator");
    $("#editCalculations").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#editCalculations"));
    $("#editCalculations").validate();
</script>
