@model List<AtriumWebApp.Models.Budget.OtherExpensesGLCalc>

<div id="CalculationsEditor">
    <div style="border:solid thin black">
        <div style="display:inline-block" id="CalculationsEditSection">
        </div>
    </div>
    <div class="recordSelection">
        Record: <i class="fa fa-fast-backward selector" id="CalculationsFirst"></i>
        <i class="fa fa-backward selector" aria-hidden="true" id="CalculationsBack"></i>
        <input id="CalculationsSelector" />
        <i class="fa fa-forward selector" aria-hidden="true" id="CalculationsForward"></i>
        <i class="fa fa-fast-forward selector" aria-hidden="true" id="CalculationsLast"></i>
        <i class="fa fa-plus selector" aria-hidden="true" id="newCalculations" style="color:green"></i>
        <i class="fa fa-times selector" aria-hidden="true" id="deleteCalculations" style="color:red;"></i>
        <select id="selectedCalculations">
            @for (int i = 0; i < Model.Count; i++)
            {
                var pt = Model[i];
                @:<option value="@pt.OtherExpensesCalcID" rowNum="@(i + 1)">@pt.CalcNm</option>
            }
        </select>
    </div>
</div>
