@model AtriumWebApp.Models.Budget.Facility
<div id="@Model.FacilityID" class="facilityInfo" style="display:none;width:650px;">
    <form id="facility-@Model.FacilityID" facilityId="@Model.FacilityID" asp-action="UpdateFacility" asp-controller="Admin">
        <input asp-for="FacilityID" hidden="hidden" />
        <input asp-for="FacilityNb" hidden="hidden" />
        <table>
            <tr>
                <td>
                    Facility ID
                </td>
                <td>
                    <input asp-for="FacilityID" disabled="disabled" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Facility # Intact
                </td>
                <td>
                    <input asp-for="FacilityNb" disabled="disabled" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Facility Short Name
                </td>
                <td>
                    <input asp-for="FacilityShortNm" />
                    <br />
                    <span asp-validation-for="FacilityShortNm"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Facility Name
                </td>
                <td colspan="3">
                    <input asp-for="FacilityNm" style="width:400px;" />
                    <br />
                    <span asp-validation-for="FacilityNm"></span>
                </td>
            </tr>

            <tr>
                <td>Region</td>

                <td>
                    <select asp-items="ViewBag.Regions" asp-for="RegionID"></select>
                    <br />
                    <span asp-validation-for="RegionID"></span>
                </td>
                <td>Wage Increase %</td>
                <td>
                    @Html.TextBox("a", Model.WageIncreasePercentage,"{0:P2}",new { id = "wageIncrease" })
                    <input asp-for="WageIncreasePercentage" hidden="hidden"/>
                    <br />
                    <span asp-validation-for="WageIncreasePercentage"></span>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    <select asp-items="ViewBag.States" asp-for="StateID"></select>
                    <br />
                    <span asp-validation-for="StateID"></span>
                </td>
                <td>Mgt Fee Calculation %</td>
                <td>
                    @Html.TextBox("a", Model.MgtFeeCalcPercent, "{0:P2}", new { id = "mgtFee" })
                    <input asp-for="MgtFeeCalcPercent" hidden="hidden" />
                    <br />
                    <span asp-validation-for="MgtFeeCalcPercent"></span>
                </td>
            </tr>
        </table>
    </form>

</div>
<script>

    $.validator.setDefaults({ ignore: [] });
    $("#facility-@Model.FacilityID").removeData("validator");
    $("#facility-@Model.FacilityID").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#facility-@Model.FacilityID"));
    $("#facility-@Model.FacilityID").validate();
</script>
