@model AtriumWebApp.Web.ClinicalOps.Models.ViewModel.DocumentViewModel

@if (Model.Id == 0)
{
    <input asp-for="Document" disabled="disabled"/>
}
else
{
    <input asp-for="Document" style="display:none;" id="docUpload" disabled="disabled" />
    <div id="deleteDocument">
        @Html.ActionLink(Model.DocumentFileName, "StreamWoundDocument", new { id = Model.Id })
        @Html.ActionLink("", "DeleteWoundDocument", new { documentId = Model.Id }, new { @class = "glyphicon glyphicon-remove deleteFile" })
    </div>
}
<div style="display:none">
    <input asp-for="ContentType" />
    <input asp-for="DocumentFileName" />
    <input asp-for="Id" />
    <input asp-for="ParentId" />
</div>
<script>
    $(".deleteFile").on("click", function (e) {
        e.preventDefault();
        if (confirm("Are you sure you want to delete this document?")) {
            $.ajax(this.href, {
                success: function (result) {
                    if (result.Success) {
                        $("#deleteDocument").remove();
                        $("#docUpload").show();

                    }
                    else {
                        alert(result.data);

                    }

                },
                error: function (data, error, errortext) {
                    alert("Server is not responding. Please reload page and try again");
                }
            });

        }
    });
</script>