@model AtriumWebApp.Web.ClinicalOps.Models.ViewModel.SOCFallRecordViewModel
@{
    var fallLocation = new SelectList((List<SOCFallLocation>)ViewData["FallLocations"], "SOCFallLocationId", "SOCFallLocationName");
    Model.FallEvent.ResolvedFlg = true;
    Model.FallEvent.OccurredFlg = true;
}
<div align="center" class="container-fluid" style="width:640px">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="bold">Fall Record</h1>
        </div>

    </div>

    <form asp-controller="StandardsOfCare" asp-action="SaveFall" id="saveFallForm" method="post" enctype="multipart/form-data" style="display:none;">
        <input type="hidden" asp-for="FallEvent.DeletedADDomainName" />
        <input type="hidden" asp-for="FallEvent.DeletedFlg" />
        <input type="hidden" asp-for="FallEvent.DeletedTS" />
        <input type="hidden" asp-for="FallEvent.SOCEventId" data-rule-SOC_OneFromTableSelected="true" />
        <input type="hidden" asp-for="FallEvent.CurrentPayerId" />
        <input type="hidden" asp-for="FallEvent.OccurredDate" />
        <input type="hidden" asp-for="FallEvent.PatientId" />
        <input type="hidden" asp-for="FallEvent.RoomId" />
        <input type="hidden" asp-for="FallEvent.SOCMeasureId" />
        <input type="hidden" asp-for="FallEvent.ResolvedDate" />
        <input type="hidden" asp-for="FallEvent.ResolvedFlg" />
        <input type="hidden" asp-for="FallEvent.OccurredFlg" />
        <div class="row">
            <div class="col-sm-3">
                Time Occured:
            </div>
            <div class="col-sm-4">
                <input asp-for="FallEvent.FallTime" asp-format="{0:MM/dd/yyyy hh:mm tt}" />
                <span asp-validation-for="FallEvent.FallTime" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Location:
            </div>
            <div class="col-sm-3">
                <select asp-items="fallLocation" asp-for="FallEvent.SOCFallLocationId">
                    <option value="" selected disabled>Select a Fall Location</option>
                </select>
                <span asp-validation-for="FallEvent.SOCFallLocationId" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Physician Notified:
            </div>
            <div class="col-sm-1">
                <input asp-for="FallEvent.PhysicianNotifiedFlg" />
            </div>
            <div class="col-sm-3">
                Family Notified:
            </div>
            <div class="col-sm-1">
                <input asp-for="FallEvent.FamilyNotifiedFlg" />
            </div>
            <div class="col-sm-3">
                State Notified:
            </div>
            <div class="col-sm-1">
                <input asp-for="FallEvent.StateNotifiedFlg" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Root Cause: (512 max)
            </div>
            <div class="col-sm-9">
                <textarea asp-for="FallEvent.RootCause" maxlength="512" cols="60" rows="2"></textarea>
                <span asp-validation-for="FallEvent.RootCause" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="interventionTable">
                    <thead>
                        <tr>
                            <th colspan="10">Intervention Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.InterventionList.Count; i++)
                        {

                            <tr>
                                <td></td>
                                <td>
                                    @Model.InterventionList[i].Type.SOCFallInterventionName
                                </td>
                                <td>
                                    <input asp-for="InterventionList[i].Selected" />
                                    <input type="hidden" asp-for="InterventionList[i].Type.SOCFallInterventionId" />
                                    <input type="hidden" asp-for="InterventionList[i].Type.SOCFallInterventionName" />
                                </td>
                            </tr>}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table id="typeTable">
                    <thead>
                        <tr>
                            <th colspan="10">Fall Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.FallTypeList.Count; i++)
                        {

                            <tr>
                                <td></td>
                                <td>
                                    @Model.FallTypeList[i].Type.SOCFallTypeName
                                </td>
                                <td>
                                    <input type="hidden" asp-for="FallTypeList[i].Type.SOCFallTypeId" />
                                    <input type="hidden" asp-for="FallTypeList[i].Type.SOCFallTypeName" />
                                    <input asp-for="FallTypeList[i].Selected" />
                                </td>
                            </tr>}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="injuryTable">
                    <thead>
                        <tr>
                            <th colspan="10">Injury Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.InjuryList.Count; i++)
                        {

                            <tr>
                                <td></td>
                                <td>
                                    @Model.InjuryList[i].Type.SOCFallInjuryTypeName
                                </td>
                                <td>
                                    <input type="hidden" asp-for="InjuryList[i].Type.SOCFallInjuryTypeId" />
                                    <input type="hidden" asp-for="InjuryList[i].Type.SOCFallInjuryTypeName" />
                                    <input asp-for="InjuryList[i].Selected" />
                                </td>
                            </tr>}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table id="treatmentTable">
                    <thead>
                        <tr>
                            <th colspan="10">Treatment Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.TreatmentList.Count; i++)
                        {

                            <tr>
                                <td></td>
                                <td>
                                    @Model.TreatmentList[i].Type.SOCFallTreatmentName
                                </td>
                                <td>
                                    <input type="hidden" asp-for="TreatmentList[i].Type.SOCFallTreatmentId" />
                                    <input type="hidden" asp-for="TreatmentList[i].Type.SOCFallTreatmentName" />
                                    <input asp-for="TreatmentList[i].Selected" />
                                </td>
                            </tr>}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row">
            <input type="submit" id="submitFallForm" value="Save" class="col-sm-2 col-sm-offset-4" />
            <input type="button" id="clearFallForm" value="Clear" class="col-sm-2 col-sm-offset-1" />
            <br />

        </div>
        <div class="row">
            <span asp-validation-for="FallEvent.SOCEventId" class="text-danger col-sm-offset-4"></span>
        </div>


    </form>
</div>
<link href="~/lib/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
<script src="~/lib/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<environment names="Development">
    <script src="~/js/AdditionalValidation.js" asp-append-version="true"></script>
    <script src="~/js/SOC/SOCFalls.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/AdditionalValidation.min.js" asp-append-version="true"></script>
    <script src="~/js/SOC/SOCFalls.min.js" asp-append-version="true"></script>
</environment>