@model AtriumWebApp.Web.ClinicalOps.Models.ViewModel.SOCWoundViewModel
@{
    var woundDescriptions = new SelectList((List<CompositeWoundDescribe>)ViewData["CompositeWoundDescribe"], "CompositeWoundDescribeId", "CompositeWoundDescribeName");

}
<div align="center" class="container-fluid" style="width:1000px;min-height:630px">
    <h2 class="margin_separator">Wound Record</h2>
    <form method="post" id="SaveWound" asp-controller="StandardsOfCare" asp-action="SaveWound" enctype="multipart/form-data" style="display:none;">
        <input type="hidden" asp-for="Wound.PatientId" />
        <input type="hidden" asp-for="Wound.SOCMeasureId" />
        <input type="hidden" asp-for="Wound.RoomId" />
        <input type="hidden" asp-for="Wound.CurrentPayerId" />
        <input type="hidden" asp-for="Wound.SOCEventId" />
        <input type="hidden" asp-for="WoundType" />
        <input type="hidden" asp-for="Wound.OccurredFlg" />
        <input type="hidden" asp-for="Wound.ResolvedFlg" />
        <div class="row">
            <div class="col-sm-3 text-right">
                Date Occurred:
            </div>
            <div class="col-sm-3 text-left">
                <input asp-for="Wound.OccurredDate" asp-format="{0:d}" data-rule-no_future_date="true" class="isDate" id="OccurredDate" />
                <br />
                <span asp-validation-for="Wound.OccurredDate" class="text-danger"></span>
            </div>
            <div class="col-sm-2 text-right">Date Resolved:</div>
            <div class="col-sm-4 date-resolved-container text-left">
                <input asp-for="Wound.ResolvedDate" asp-format="{0:d}" class="isDate" data-rule-no_future_date="true" data-rule-resolved_greater_initial="true" />
                <br />
                <span asp-validation-for="Wound.ResolvedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">
                Site (32 max):
            </div>
            <div class="col-sm-2 text-left">
                <input asp-for="Wound.Site" maxlength="32" />
                <input asp-for="Wound.Site" type="hidden" id="hiddenSite" />
                <br />
                <span asp-validation-for="Wound.Site" class="text-danger"></span>
            </div>
            @if (Model.WoundType == "pressure")
        {
            <div class="col-sm-2 col-sm-offset-1 text-right">Unavoidable:</div>
            <div class="col-sm-4 text-left">
                <input asp-for="Wound.UnavoidableFlg" class="pull-left" style="display:inline-block" />
                @Html.EditorFor(a => a.File)
            </div>

    }
    else if (Model.WoundType == "composite")
    {
        <div class="col-sm-2 col-sm-offset-1 text-right">Wound Description:</div>
        <div class="col-sm-4 text-left">
            <select asp-for="Wound.CompositeWoundDescribeId" asp-items="woundDescriptions" required="required">
                <option value="" selected>Select a Description</option>
            </select>
            <input type="hidden" asp-for="Wound.CompositeWoundDescribeId" />
        </div>

}


        </div>
        @if (Model.WoundType == "pressure")
    {
        <div class="row">
            <div class="col-sm-3 col-sm-offset-4">Admitted with wound: </div>
            <input asp-for="Wound.AdmittedWithFlg" class="col-sm-1" />
            <input asp-for="Wound.AdmittedWithFlg" type="hidden" id="hiddenAdmitted" />
        </div>
        <div class="row">
            <h4 class="bold">Risk Factors/Cause</h4>
        </div>
        <div class="row">
            <div class="col-sm-3 text-left">
                Diabetes:
                <input asp-for="Wound.AffectedByDiabetes" />
            </div>
            <div class="col-sm-3 text-left">
                Incontinence:
                <input asp-for="Wound.AffectedByIncontinence" />
            </div>
            <div class="col-sm-3 text-left">
                Paralysis:
                <input asp-for="Wound.AffectedByParalysis" />
            </div>
            <div class="col-sm-3 text-left">
                Sepsis:
                <input asp-for="Wound.AffectedBySepsis" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-left">
                Peripheral vascular disease:
                <input asp-for="Wound.AffectedByPeripheralVascularDisease" />
            </div>
            <div class="col-sm-3 text-left">
                End stage disease:
                <input asp-for="Wound.AffectedByEndStageDisease" />
            </div>
            <div class="col-sm-4 text-left">
                Other:
                <input asp-for="Wound.AffectedByOther" />
                @if (Model.Wound.AffectedByOther)
            {
                <input asp-for="Wound.AffectedByOtherDescription" />
        }
        else
        {
            <input asp-for="Wound.AffectedByOtherDescription" style="display:none;" />
    }

            </div>
        </div>
}

    </form>
    <div id="NotesArea">

    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <input type="button" value="Create Note" id="createNote" />
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <input type="submit" value="Save" id="submitWound" style="margin-right:12px;" />
            <input type="button" value="Clear" id="clearWound" />
        </div>

    </div>
    <div id="NotesListing">

    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<environment names="Development">
    <script src="~/js/AdditionalValidation.js" asp-append-version="true"></script>
    <script src="~/js/SOC/SOCWounds.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/AdditionalValidation.min.js" asp-append-version="true"></script>
    <script src="~/js/SOC/SOCWounds.min.js" asp-append-version="true"></script>
</environment>