@model AtriumWebApp.Models.Budget.ViewModels.BudgetMasterViewModel

@{
    ViewBag.Title = "Home Page";
    var facilities = Model.Facilities.OrderBy(a => a.FacilityShortNm).ToList();
}

<style>
    .dataTables_scrollBody {
        overflow: auto;
        height: auto !important;
        max-height: 400px;
        width: 100%;
    }
    .dataTables_wrapper {
        border: solid thin black;
    }
</style>


<div id="BudgetDisplay">

</div>

<div class="recordSelection">
    Record: <i class="fa fa-fast-backward selector" id="facilityFirst"></i>
    <i class="fa fa-backward selector" aria-hidden="true" id="facilityBack"></i>
    <input id="facilitySelector" />
    <i class="fa fa-forward selector" aria-hidden="true" id="facilityForward"></i>
    <i class="fa fa-fast-forward selector" aria-hidden="true" id="facilityLast"></i>
    <select id="selectedFacility">
        @for (int i = 0; i < facilities.Count; i++)
        {
            var facility = facilities[i];
            @:<option value="@facility.FacilityID" rowNum="@(i + 1)">@facility.FacilityShortNm</option>
        }
    </select>
</div>
<script src="~/js/Budget.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
