<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UseMsDeployExe>true</UseMsDeployExe>
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework>net452</PublishFramework>
    <ProjectGuid>d6ae4a76-f76e-4ad4-b609-986921180a97</ProjectGuid>
    <MSDeployServiceURL>deadpool</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/CEA_TST/PayrollTransfer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ALC\Cardinal</UserName>
    <Password>Atrium1016!</Password>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AtriumWebApp.Web.PayrollTransfer.Models.PayrollTransferContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Web.PayrollTransfer.Models.PayrollTransferContext, AtriumWebApp.Web.PayrollTransfer" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtriumWebApp.Models.ASAPComplaintTypeContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Models.ASAPComplaintTypeContext, AtriumWebApp.Models" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtriumWebApp.Models.HospitalDischargeContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Models.HospitalDischargeContext, AtriumWebApp.Models" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtriumWebApp.Models.SharedContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Models.SharedContext, AtriumWebApp.Models" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="database" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AtriumWebApp.Models.CareConferenceAttendanceContext, AtriumWebApp.Models" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <TargetFramework>net452</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Models.ASAPComplaintTypeContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Models.HospitalDischargeContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Models.SharedContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtriumWebApp.Web.PayrollTransfer.Models.PayrollTransferContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)database-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AtriumWebApp.Models.ASAPComplaintTypeContext" />
    <_ConnectionStringsToInsert Include="AtriumWebApp.Models.HospitalDischargeContext" />
    <_ConnectionStringsToInsert Include="AtriumWebApp.Models.SharedContext" />
    <_ConnectionStringsToInsert Include="AtriumWebApp.Web.PayrollTransfer.Models.PayrollTransferContext" />
    <_ConnectionStringsToInsert Include="database" />
  </ItemGroup>
</Project>